openapi: 3.2.0
info:
  title: Wise Platform Payins API
  version: ''
  description: "The Wise Platform API is a REST-based interface that enables programmatic access to Wise's payment infrastructure. All endpoints return JSON-formatted responses and use standard HTTP methods and status codes.\n{% admonition type=\"success\" name=\"New to wise?\" %}\n  We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.\n{% /admonition %}\n\nBefore you begin {% .title-2 .m-t-5 %}\n\nTo use this API reference effectively, you should have:\n\n- Received Valid [API credentials from Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client Secret)\n- Understand OAuth 2.0 authentication\n- Be familiar with RESTful API concepts\n\nCore API resources {% .title-2 .m-t-5 .m-b-0 %}\n\n| Resource | Purpose |\n|----------|---------|\n| **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |\n| **[Recipient](/api-reference/recipient)** | Beneficiary account management |\n| **[Transfer](/api-reference/transfer)** | Payment creation and execution |\n| **[Balance](/api-reference/balance)** | Multi-currency account operations |\n| **[Profile](/api-reference/profile)** | Account ownership details |\n| **[Rate](/api-reference/rate)** | Current and historical exchange rates |\n\n**Not sure which workflow to build?**<br>\nStart with our [Integration Guides](/guides/product/send-money/use-cases/index.md) for step-by-step implementation examples.{% .m-t-3 .m-b-5 %}\n"
servers:
- url: https://api.wise.com
  description: Production Environment
- url: https://api.wise-sandbox.com
  description: Sandbox Environment
tags:
- name: payins
  x-displayName: Payins
  description: "The payin APIs allow you to fund the MCA or transfers with local payment rails, by retrieving or creating the relevant details to send to for funding a payment. \n\nThese details will be provided in the local format for that currency, and also includes the name and address of the receiving bank."
paths:
  /v1/profiles/{profileId}/payin-sessions/{payinSessionId}/paynow:
    post:
      operationId: paynowCreate
      summary: Create PayNow payment details
      description: 'Creates the encoded QR code and details for the payin session so the user can fund a transfer or balance top-up via a PayNow transaction.

        This operation supports the SGD currency only.


        {% admonition type="warning" %}

        This operation is not available for sandbox testing.

        {% /admonition %}

        '
      tags:
      - payins
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Profile ID of the profile that created the transfer.
        schema:
          type: integer
          format: int64
      - name: payinSessionId
        in: path
        required: true
        description: Payin Session ID retrieved from Transfer object.
        schema:
          type: string
          format: string
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: PayNow payment object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  qrCodeInBase64:
                    type: string
                    description: An encoded QR image in base64 format, which can be decoded and displayed directly to the end user.
                    example: iVBORw0KGgoAAAANSUhEUgAAAXUAAAF1CAIAAACYn+2fAAB2CUlEQVR4Xux9B2BU15k1cYxAdJCQhB...
                  details:
                    type: object
                    description: Manual input details that can be used by the end user to make the transfer without scanning the QR image.
                    properties:
                      virtualPaymentAddress:
                        type: string
                        description: Virtual payment address to pay to.
                        example: UEN123456789R#WISE
                      amount:
                        type:
                        - number
                        description: Transfer amount.
                        example: 100
                      currency:
                        type:
                        - string
                        description: Currency.
                        example: SGD
                      reference:
                        type:
                        - string
                        description: Payment reference used for linking the PayNow transaction to the transfer created by the profile.
                        example: PP12345678
                      entityName:
                        type:
                        - string
                        description: Entity name of the Wise Account to make the PayNow transfer to.
                        example: WISE ASIA-PACIFIC PTE LTD
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    format: uri-reference
                    description: Must be /errors/types/validation for this error type.
                    examples:
                    - /errors/types/validation
                  title:
                    type: string
                    description: Validation Error
                    examples:
                    - Validation Error
                  status:
                    type: string
                    description: Bad Format Validation Error
                    examples:
                    - 400
                  instance:
                    type: string
                    description: The uri the triggered a validation error
                    examples:
                    - /v1/profiles/12345678/payin-sessions/74a3fe63-f37e-49ff-f744-8ef020efabcde/paynow
                  errors:
                    type: array
                    description: A list of specific validation failures.
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: A detailed description of the validation failure.
                          examples:
                          - Invalid request to create payment for session 1.
                        code:
                          type: string
                          description: A specific code for the validation failure type.
                          examples:
                          - invalid_request
                        ref:
                          type: string
                          description: A reference to the field that failed validation.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '422':
          description: Unprocessable request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    format: uri-reference
                    description: Must be /errors/types/domain for this error type.
                    examples:
                    - /errors/types/domain
                  title:
                    type: string
                    description: Unprocessable Entity
                    examples:
                    - Unprocessable Entity
                  status:
                    type: string
                    description: Unprocessable Entity Domain Error
                    examples:
                    - 422
                  instance:
                    type: string
                    description: The uri that triggered the error
                    examples:
                    - /v1/profiles/12345678/payin-sessions/74a3fe63-f37e-49ff-f744-8ef020efabcde/paynow
                  code:
                    type: string
                    description: Error code of the request
                    example: payins.paynow.details.creation.not.allowed
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
components:
  responses:
    '429':
      x-global: true
      description: Rate limit exceeded. Retry after the number of seconds specified in the `Retry-After` header.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying the request.
          schema:
            type: integer
          example: 5
        X-Rate-Limited-By:
          description: Identifies the rate limiter that triggered the 429 response.
          schema:
            type: string
          example: wise-public-api
        X-External-Correlation-Id:
          $ref: '#/components/headers/X-External-Correlation-Id'
        x-trace-id:
          $ref: '#/components/headers/x-trace-id'
      content:
        application/json:
          schema:
            type: object
  headers:
    x-trace-id:
      x-global: true
      description: Unique trace identifier assigned by Wise. Useful when contacting support about a specific request.
      schema:
        type: string
      example: fba501b6d453b96789f52338f019341f
    X-External-Correlation-Id:
      x-global: true
      description: Echoed back when `X-External-Correlation-Id` was included in the request. [Learn more](/guides/developer/headers/correlation-id).
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  parameters:
    X-External-Correlation-Id:
      x-global: true
      name: X-External-Correlation-Id
      in: header
      required: false
      description: 'Optional UUID for correlating requests across systems. If provided, Wise echoes it back in the response. Maximum 36 characters. [Learn more](/guides/developer/headers/correlation-id).

        '
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  securitySchemes:
    UserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'User Access Token for making API calls on behalf of a Wise user.


        Can be obtained via two OAuth 2.0 flows:

        - **registration_code grant**: For partners creating users via API

        - **authorization_code grant**: For partners using Wise''s authorization page


        Access tokens are valid for 12 hours and can be refreshed using a refresh token.

        '
    PersonalToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Personal API Token for individual personal or small business users.

        Generated from Wise.com > Settings > Connect and manage apps > API tokens.

        Has limited API access compared to OAuth tokens (PSD2 restrictions apply for EU/UK users).

        '
    ClientCredentialsToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Application-level token for partner operations that don''t require a specific user context, such as bulk settlement and card spend controls.


        Obtained via `POST /oauth/token` with Basic Authentication (client-id:client-secret) and `grant_type=client_credentials`.


        Valid for 12 hours. No refresh token — fetch a new token when expired.


        See [create an OAuth token](/api-reference/oauth-token/oauthtokencreate) for details.

        '
    BasicAuth:
      type: http
      scheme: basic
      description: 'Basic Authentication using your Client ID and Client Secret as the username and password.


        Client credentials are provided by Wise when your partnership begins. See [Getting Started](/guides/developer) for details.

        '
x-tagGroups:
- name: Authentication
  tags:
  - oauth-token
- name: Enhanced Security
  tags:
  - jose
- name: Users
  tags:
  - user
  - claim-account
- name: Profiles
  tags:
  - profile
  - activity
  - address
- name: Verification
  tags:
  - kyc-review
  - verification
  - facetec
- name: Strong Customer Authentication
  tags:
  - sca-ott
  - sca-sessions
  - sca-pin
  - sca-facemaps
  - sca-device-fingerprints
  - sca-otp
  - user-security
- name: Balances
  tags:
  - balance
  - balance-statement
  - bank-account-details
  - multi-currency-account
- name: Cards
  tags:
  - card
  - card-sensitive-details
  - 3ds
  - card-kiosk-collection
  - card-order
  - card-transaction
  - spend-limits
  - spend-controls
  - digital-wallet
  - disputes
- name: Quotes
  tags:
  - quote
  - rate
  - comparison
- name: Recipients
  tags:
  - recipient
  - contact
- name: Transfers
  tags:
  - transfer
  - delivery-estimate
  - currencies
  - batch-group
- name: Funding
  tags:
  - payin-deposit-detail
  - direct-debit-account
  - bulk-settlement
  - payins
- name: Webhooks
  tags:
  - webhook
  - webhook-event
- name: Simulations
  tags:
  - simulation
- name: Partner Support
  tags:
  - case
