openapi: 3.2.0
info:
  title: Wise Platform Card Transaction API
  version: ''
  description: The Wise Platform API is a REST-based interface that enables programmatic access to Wise's payment infrastructure.
servers:
- url: https://api.wise.com
  description: Production Environment
- url: https://api.wise-sandbox.com
  description: Sandbox Environment
tags:
- name: Card Transaction
  x-displayName: Card Transactions
  description: Retrieve information on transactions made on your users' cards.
paths:
  /v3/spend/profiles/{profileId}/cards/transactions/{transactionId}:
    get:
      deprecated: true
      operationId: cardTransactionGetV3
      summary: Get card transaction (V3)
      description: '{% admonition type="warning" %}

        This endpoint is deprecated. Use the V4 Get card transaction endpoint instead.

        {% /admonition %}


        Retrieve a card transaction by its ID.


        Use in conjunction with the V2.0.0 card transaction state change webhook.


        When a refund happens, a separate transaction will be added with a `REFUND` transaction type.'
      tags:
      - Card Transaction
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: The ID of the profile that owns the card.
        schema:
          type: integer
          format: int64
        example: 123456
      - name: transactionId
        in: path
        required: true
        description: The ID of the transaction.
        schema:
          type: string
        example: '342671'
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Card transaction retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTransactionV3'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v4/spend/profiles/{profileId}/cards/transactions/{transactionId}:
    get:
      operationId: cardTransactionGet
      summary: Get card transaction
      description: 'Retrieve a card transaction by its ID.


        Use in conjunction with the card transaction state change webhook for versions V2.1.0 and later.


        {% admonition type="warning" %}

        Only transactions created in the past 90 days can be accessed. A 422 error code will be returned otherwise.

        {% /admonition %}


        When a refund happens, a separate transaction will be added with a `REFUND` transaction type.'
      tags:
      - Card Transaction
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: The ID of the profile that owns the card.
        schema:
          type: integer
          format: int64
        example: 123456
      - name: transactionId
        in: path
        required: true
        description: The ID of the transaction.
        schema:
          type: integer
          format: int64
        example: 342671
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Card transaction retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTransaction'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v4/spend/profiles/{profileId}/cards/{cardToken}/transactions:
    get:
      operationId: cardTransactionList
      summary: List card transactions
      description: 'Retrieve a list of card transactions for a specific card. Transactions are ordered by transaction ID in descending order.


        Use in conjunction with the card transaction state change webhook for versions V2.1.0 and later.


        {% admonition type="warning" %}

        Only transactions created in the past 90 days can be accessed. A 422 error code will be returned otherwise.

        {% /admonition %}


        The `debits` and `credits` fields are not included in list responses. Use the Get card transaction endpoint to retrieve these fields.'
      tags:
      - Card Transaction
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: The ID of the profile that owns the card.
        schema:
          type: integer
          format: int64
        example: 123456
      - name: cardToken
        in: path
        required: true
        description: The unique token identifying the card.
        schema:
          type: string
          format: uuid
        example: 59123122-223d-45f9-b840-0ad4a4f80937
      - name: fromCreationTime
        in: query
        required: true
        description: Start of range for transaction creation time in UTC, in ISO-8601 format.
        schema:
          type: string
          format: date-time
        example: '2025-12-15T00:00:00Z'
      - name: toCreationTime
        in: query
        required: true
        description: End of range for transaction creation time in UTC, in ISO-8601 format.
        schema:
          type: string
          format: date-time
        example: '2026-01-15T00:00:10Z'
      - name: pageSize
        in: query
        required: false
        description: Page size of query between 10 and 100 inclusive, defaults to 20.
        schema:
          type: integer
          format: int32
          minimum: 10
          maximum: 100
          default: 20
        example: 10
      - name: lastId
        in: query
        required: false
        description: A pagination cursor that marks your position in the list. Include the ID of the last transaction from the previous page to retrieve the next page (transactions with IDs less than the provided value).
        schema:
          type: integer
          format: int64
        example: 342672
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Card transactions retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CardTransaction'
              example:
                transactions:
                - id: 342671
                  cardToken: 59123122-223d-45f9-b840-0ad4a4f80937
                  type: ECOM_PURCHASE
                  state: IN_PROGRESS
                  declineReason: null
                  creationTime: '2022-11-28T08:17:54.241Z'
                  modificationTime: '2022-11-28T08:17:54.241Z'
                  purgeTime: '2022-11-28T08:17:54.241Z'
                  transactionAmount:
                    amount: 1.4
                    currency: SGD
                  fees:
                  - amount: 0.1
                    currency: SGD
                    fee_type: ATM_ACQUIRER
                  transactionAmountWithFees:
                    amount: 1.5
                    currency: SGD
                  merchant:
                    name: Test Payment
                    location:
                      country: France
                      city: Rouen
                      zipCode: '00000'
                      region: null
                      state: null
                    category:
                      name: MISCELLANEOUS_FOOD_STORES_CONVEN
                      code: '5999'
                      description: 5999 R Miscellaneous and Special
                  authorisationMethod: MANUAL_ENTRY
                  approvalCode: '913647'
                  billingAmount:
                    amount: 1.1
                    currency: EUR
                  arn: 04300014127798385983852
                  pinValidationResult: ONLINE_PIN_VALIDATED
                  balanceChannelReferenceId: 6e71018d-2f4d-4fc3-6711-f517f4664712
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
components:
  responses:
    '429':
      x-global: true
      description: Rate limit exceeded. Retry after the number of seconds specified in the `Retry-After` header.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying the request.
          schema:
            type: integer
          example: 5
        X-Rate-Limited-By:
          description: Identifies the rate limiter that triggered the 429 response.
          schema:
            type: string
          example: wise-public-api
        X-External-Correlation-Id:
          $ref: '#/components/headers/X-External-Correlation-Id'
        x-trace-id:
          $ref: '#/components/headers/x-trace-id'
      content:
        application/json:
          schema:
            type: object
  headers:
    x-trace-id:
      x-global: true
      description: Unique trace identifier assigned by Wise. Useful when contacting support about a specific request.
      schema:
        type: string
      example: fba501b6d453b96789f52338f019341f
    X-External-Correlation-Id:
      x-global: true
      description: Echoed back when `X-External-Correlation-Id` was included in the request. [Learn more](/guides/developer/headers/correlation-id).
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  schemas:
    CardTransactionV3:
      title: Card Transaction (V3)
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          description: ID of the transaction
          example: '342671'
        cardToken:
          type: string
          description: Unique identifier of the card
          example: 59123122-223d-45f9-b840-0ad4a4f80937
        type:
          type: string
          description: '[Type](/api-reference/card-transaction#card-transaction-type) of the transaction. One of:

            - `ACCOUNT_CREDIT`

            - `ACCOUNT_FUNDING`

            - `CASH_ADVANCE`

            - `CASH_WITHDRAWAL`

            - `CHARGEBACK`

            - `CREDIT_TRANSACTION`

            - `ECOM_PURCHASE`

            - `POS_PURCHASE`

            - `REFUND`

            '
          enum:
          - ACCOUNT_CREDIT
          - ACCOUNT_FUNDING
          - CASH_ADVANCE
          - CASH_WITHDRAWAL
          - CHARGEBACK
          - CREDIT_TRANSACTION
          - ECOM_PURCHASE
          - POS_PURCHASE
          - REFUND
          example: ECOM_PURCHASE
        declineReason:
          type:
          - string
          - 'null'
          description: Code of the [decline reason](/api-reference/card-transaction#card-transaction-decline-reasons) if applicable
          example: null
        detailedDeclineReason:
          type:
          - string
          - 'null'
          description: Code of the [detailed decline reason](/api-reference/card-transaction#card-transaction-detailed-decline-reasons) if applicable
          example: null
        createdDate:
          type: string
          format: date-time
          description: When the transaction was created
          example: '2022-11-28T08:17:54.241236Z'
        state:
          type: string
          description: 'The current [state](/api-reference/card-transaction#card-transaction-state) of the transaction. One of:

            - `IN_PROGRESS`

            - `COMPLETED`

            - `DECLINED`

            - `CANCELLED`

            - `UNKNOWN`

            '
          enum:
          - IN_PROGRESS
          - COMPLETED
          - DECLINED
          - CANCELLED
          - UNKNOWN
          example: IN_PROGRESS
        cardLastDigits:
          type: string
          description: Last 4 digits of the card
          example: '3086'
        transactionAmount:
          type: object
          description: Transaction amount, excluding all embedded fees such as ATM fees that are not applied by Wise
          properties:
            amount:
              type: number
              description: Transaction amount
              example: 1.5
            currency:
              type: string
              description: Currency code
              example: SGD
        fees:
          type: array
          description: Array of fees
          items:
            type: object
            properties:
              amount:
                type: number
                description: Fee amount
                example: 0.1
              currency:
                type: string
                description: Currency code
                example: SGD
              fee_type:
                type: string
                description: Fee type
                example: ATM_ACQUIRER
        transactionAmountWithFees:
          type: object
          description: Transaction amount including fees
          properties:
            value:
              type: number
              description: Transaction amount including fees
              example: 1.5
            currency:
              type: string
              description: Currency code
              example: SGD
        merchant:
          type: object
          description: Merchant information
          properties:
            name:
              type: string
              description: Name of the merchant
              example: Test Payment
            location:
              type: object
              description: Merchant location
              properties:
                country:
                  type:
                  - string
                  - 'null'
                  description: Country where merchant is located
                  example: France
                city:
                  type:
                  - string
                  - 'null'
                  description: City where merchant is located
                  example: Rouen
                zipCode:
                  type:
                  - string
                  - 'null'
                  description: Zip code where merchant is located
                  example: '00000'
                region:
                  type:
                  - string
                  - 'null'
                  description: Region where merchant is located
                  example: null
                state:
                  type:
                  - string
                  - 'null'
                  description: State where merchant is located
                  example: null
            category:
              type: object
              description: Merchant category
              properties:
                name:
                  type: string
                  description: Category of the merchant
                  example: RMiscellaneousAndSpecial
                code:
                  type: string
                  description: MCC code of the merchant
                  example: '5999'
                description:
                  type: string
                  description: Description of the merchant category
                  example: 5999 R Miscellaneous and Special
        authorisationMethod:
          type: string
          description: Authorisation method
          example: MANUAL_ENTRY
        balanceTransactionId:
          type:
          - integer
          - 'null'
          format: int64
          description: Associated balance transaction ID if applicable
          example: 2598366
        debits:
          type: array
          description: Array of debits
          items:
            type: object
            properties:
              balanceId:
                type: integer
                format: int64
                description: Balance ID
                example: 52832
              debitedAmount:
                type: object
                description: Amount taken from the balance
                properties:
                  amount:
                    type: number
                    description: Amount
                    example: 1.06
                  currency:
                    type: string
                    description: Currency code
                    example: EUR
              forAmount:
                type: object
                description: Amount converted to
                properties:
                  amount:
                    type: number
                    description: Amount
                    example: 1.5
                  currency:
                    type: string
                    description: Currency code
                    example: SGD
              rate:
                type: number
                description: Exchange rate of debitedAmount to forAmount
                example: 1.43073
              fee:
                type: object
                description: Conversion fee
                properties:
                  amount:
                    type: number
                    description: Conversion fee amount
                    example: 0.01
                  currency:
                    type: string
                    description: Currency code
                    example: EUR
        credit:
          type:
          - object
          - 'null'
          description: Credit details, present for refund transactions
          properties:
            balanceId:
              type: integer
              format: int64
              description: Balance ID
              example: 52832
            creditedAmount:
              type: object
              description: Amount credited to the balance
              properties:
                amount:
                  type: number
                  description: Amount
                  example: 1.5
                currency:
                  type: string
                  description: Currency code
                  example: SGD
        relayAuthorisationData:
          type:
          - object
          - 'null'
          description: Relayed authorisation response data, only available if the partner has opted in for [relayed authorisation](/guides/product/issue-cards/relayed-authorisation)
          properties:
            responseCode:
              type: string
              description: '[ResponseCode](/guides/product/issue-cards/relayed-authorisation#authorisation-response) of the relayed authorisation. One of:

                - `APPROVED`

                - `PROCESSING_ERROR`

                - `NON_SUPPORTED_CURRENCY`

                - `NON_SUPPORTED_MCC_FOR_COUNTRY`

                - `BLOCKED_COUNTRY`

                - `TRANSACTION_TYPE_NOT_SUPPORTED`

                - `SUSPECTED_FRAUD`

                '
              enum:
              - APPROVED
              - PROCESSING_ERROR
              - NON_SUPPORTED_CURRENCY
              - NON_SUPPORTED_MCC_FOR_COUNTRY
              - BLOCKED_COUNTRY
              - TRANSACTION_TYPE_NOT_SUPPORTED
              - SUSPECTED_FRAUD
              example: APPROVED
            fallback:
              type: boolean
              description: Indicating whether there was a fallback applied by Wise
              example: true
    CardTransaction:
      title: Card Transaction
      type: object
      additionalProperties: true
      description: 'The `debits` and `credits` fields are only present when retrieving a single transaction by ID, and will not be present in the list transactions response.

        '
      properties:
        id:
          type: integer
          format: int64
          description: ID of the transaction
          example: 342671
        cardToken:
          type: string
          description: Unique identifier of the card
          example: 59123122-223d-45f9-b840-0ad4a4f80937
        type:
          type: string
          description: '[Type](/api-reference/card-transaction#card-transaction-type) of the transaction. One of:

            - `ACCOUNT_CREDIT`

            - `ACCOUNT_FUNDING`

            - `CASH_ADVANCE`

            - `CASH_WITHDRAWAL`

            - `CHARGEBACK`

            - `CREDIT_TRANSACTION`

            - `ECOM_PURCHASE`

            - `POS_PURCHASE`

            - `REFUND`

            '
          enum:
          - ACCOUNT_CREDIT
          - ACCOUNT_FUNDING
          - CASH_ADVANCE
          - CASH_WITHDRAWAL
          - CHARGEBACK
          - CREDIT_TRANSACTION
          - ECOM_PURCHASE
          - POS_PURCHASE
          - REFUND
          example: ECOM_PURCHASE
        state:
          type: string
          description: 'The current [state](/api-reference/card-transaction#card-transaction-state) of the transaction. One of:

            - `IN_PROGRESS`

            - `COMPLETED`

            - `DECLINED`

            - `CANCELLED`

            - `UNKNOWN`

            '
          enum:
          - IN_PROGRESS
          - COMPLETED
          - DECLINED
          - CANCELLED
          - UNKNOWN
          example: IN_PROGRESS
        declineReason:
          type:
          - string
          - 'null'
          description: Code of the [decline reason](/api-reference/card-transaction#card-transaction-decline-reasons) if applicable
          example: null
        detailedDeclineReason:
          type:
          - string
          - 'null'
          description: Code of the [detailed decline reason](/api-reference/card-transaction#card-transaction-detailed-decline-reasons) if applicable
          example: null
        creationTime:
          type: string
          format: date-time
          description: When the transaction was created
          example: '2022-11-28T08:17:54.241Z'
        modificationTime:
          type: string
          format: date-time
          description: When the transaction was last updated
          example: '2022-11-28T08:17:54.241Z'
        purgeTime:
          type:
          - string
          - 'null'
          format: date-time
          description: Time at which reserved funds will be released after the authorisation hold expires
          example: '2022-11-28T08:17:54.241Z'
        transactionAmount:
          type: object
          description: Transaction amount, including any embedded fees such as ATM fees that are not applied by Wise
          properties:
            amount:
              type: number
              description: Transaction amount
              example: 1.4
            currency:
              type: string
              description: Currency code
              example: SGD
        fees:
          type: array
          description: Array of fees
          items:
            type: object
            properties:
              amount:
                type: number
                description: Fee amount
                example: 0.1
              currency:
                type: string
                description: Currency code
                example: SGD
              fee_type:
                type: string
                description: Fee type
                example: ATM_ACQUIRER
        transactionAmountWithFees:
          type: object
          description: Transaction amount including all fees
          properties:
            amount:
              type: number
              description: Transaction amount including all fees
              example: 1.5
            currency:
              type: string
              description: Currency code
              example: SGD
        merchant:
          type: object
          description: Merchant information
          properties:
            name:
              type: string
              description: Name of the merchant
              example: Test Payment
            location:
              type: object
              description: Merchant location
              properties:
                country:
                  type:
                  - string
                  - 'null'
                  description: Country where merchant is located
                  example: France
                city:
                  type:
                  - string
                  - 'null'
                  description: City where merchant is located
                  example: Rouen
                zipCode:
                  type:
                  - string
                  - 'null'
                  description: Zip code where merchant is located
                  example: '00000'
                region:
                  type:
                  - string
                  - 'null'
                  description: Region where merchant is located
                  example: null
                state:
                  type:
                  - string
                  - 'null'
                  description: State where merchant is located
                  example: null
            category:
              type: object
              description: Merchant category
              properties:
                name:
                  type: string
                  description: Category of the merchant
                  example: MISCELLANEOUS_FOOD_STORES_CONVEN
                code:
                  type: string
                  description: MCC code of the merchant
                  example: '5999'
                description:
                  type: string
                  description: Description of the merchant category
                  example: 5999 R Miscellaneous and Special
        authorisationMethod:
          type: string
          description: Authorisation method
          example: MANUAL_ENTRY
        approvalCode:
          type:
          - string
          - 'null'
          description: Also called authorization code. This can be used to prove ownership of a customer's card/account to a merchant
          example: '913647'
        billingAmount:
          type: object
          description: Billing amount
          properties:
            amount:
              type: number
              description: Billing amount
              example: 1.1
            currency:
              type: string
              description: Currency code
              example: EUR
        arn:
          type:
          - string
          - 'null'
          description: Acquirer reference number
          example: 04300014127798385983852
        pinValidationResult:
          type:
          - string
          - 'null'
          description: 'PIN validation result. One of:

            - `ONLINE_PIN_VALIDATED`

            - `ONLINE_PIN_INVALID`

            - `OFFLINE_PIN_VALIDATED`

            - `OFFLINE_PIN_INVALID`

            - `NOT_RECEIVED`

            '
          enum:
          - ONLINE_PIN_VALIDATED
          - ONLINE_PIN_INVALID
          - OFFLINE_PIN_VALIDATED
          - OFFLINE_PIN_INVALID
          - NOT_RECEIVED
          example: ONLINE_PIN_VALIDATED
        balanceChannelReferenceId:
          type:
          - string
          - 'null'
          description: Balance channel reference ID associated with the card transaction
          example: 6e71018d-2f4d-4fc3-6711-f517f4664712
        debits:
          type: array
          description: 'Array of debits. Only present when retrieving a single transaction by ID.


            The debits list is a non-aggregated list of debit movements, meaning that the `balanceId` is not unique in the list. For example, a cancelled transaction may have a list of 2 debits where the absolute values of `debitedAmount.amount`, `forAmount.amount` and `fee.amount` are the same, but one is the negation of the other due to a reservation (first debit) which was then released (second debit with negated amounts). You can choose to perform the aggregation in your system or display the full list of debits to the end customer.

            '
          items:
            type: object
            properties:
              balanceId:
                type: integer
                format: int64
                description: Balance ID
                example: 52832
              debitedAmount:
                type: object
                description: Amount taken from the balance
                properties:
                  amount:
                    type: number
                    description: Amount
                    example: 1.1
                  currency:
                    type: string
                    description: Currency code
                    example: EUR
              forAmount:
                type: object
                description: Amount converted to
                properties:
                  amount:
                    type: number
                    description: Amount
                    example: 1.5
                  currency:
                    type: string
                    description: Currency code
                    example: SGD
              rate:
                type: number
                description: Exchange rate of debitedAmount to forAmount
                example: 1.36363636364
              fee:
                type: object
                description: Conversion fee
                properties:
                  amount:
                    type: number
                    description: Conversion fee amount
                    example: 0.04
                  currency:
                    type: string
                    description: Currency code
                    example: EUR
              creationTime:
                type: string
                format: date-time
                description: Creation time of debit
                example: '2022-11-28T08:17:54.241Z'
        credits:
          type: array
          description: Array of credits. Only present when retrieving a single transaction by ID
          items:
            type: object
            properties:
              balanceId:
                type: integer
                format: int64
                description: Balance ID
                example: 52832
              creditedAmount:
                type: object
                description: Amount credited to the balance
                properties:
                  amount:
                    type: number
                    description: Amount
                    example: 1.5
                  currency:
                    type: string
                    description: Currency code
                    example: SGD
              creationTime:
                type: string
                format: date-time
                description: Creation time of credit
                example: '2022-11-28T08:17:54.241Z'
        relayAuthorisationData:
          type:
          - object
          - 'null'
          description: Relayed authorisation response data, only available if the partner has opted in for [relayed authorisation](/guides/product/issue-cards/relayed-authorisation)
          properties:
            responseCode:
              type: string
              description: '[ResponseCode](/guides/product/issue-cards/relayed-authorisation#authorisation-response) of the relayed authorisation. One of:

                - `APPROVED`

                - `PROCESSING_ERROR`

                - `NON_SUPPORTED_CURRENCY`

                - `NON_SUPPORTED_MCC_FOR_COUNTRY`

                - `BLOCKED_COUNTRY`

                - `TRANSACTION_TYPE_NOT_SUPPORTED`

                - `SUSPECTED_FRAUD`

                '
              enum:
              - APPROVED
              - PROCESSING_ERROR
              - NON_SUPPORTED_CURRENCY
              - NON_SUPPORTED_MCC_FOR_COUNTRY
              - BLOCKED_COUNTRY
              - TRANSACTION_TYPE_NOT_SUPPORTED
              - SUSPECTED_FRAUD
              example: APPROVED
            fallback:
              type: boolean
              description: Indicating whether there was a fallback applied by Wise
              example: true
  parameters:
    X-External-Correlation-Id:
      x-global: true
      name: X-External-Correlation-Id
      in: header
      required: false
      description: 'Optional UUID for correlating requests across systems. If provided, Wise echoes it back in the response. Maximum 36 characters. [Learn more](/guides/developer/headers/correlation-id).

        '
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  securitySchemes:
    UserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'User Access Token for making API calls on behalf of a Wise user.


        Can be obtained via two OAuth 2.0 flows:

        - **registration_code grant**: For partners creating users via API

        - **authorization_code grant**: For partners using Wise''s authorization page


        Access tokens are valid for 12 hours and can be refreshed using a refresh token.

        '
    PersonalToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Personal API Token for individual personal or small business users.

        Generated from Wise.com > Settings > Connect and manage apps > API tokens.

        Has limited API access compared to OAuth tokens (PSD2 restrictions apply for EU/UK users).

        '
    ClientCredentialsToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Application-level token for partner operations that don''t require a specific user context, such as bulk settlement and card spend controls.


        Obtained via `POST /oauth/token` with Basic Authentication (client-id:client-secret) and `grant_type=client_credentials`.


        Valid for 12 hours. No refresh token — fetch a new token when expired.


        See [create an OAuth token](/api-reference/oauth-token/oauthtokencreate) for details.

        '
    BasicAuth:
      type: http
      scheme: basic
      description: 'Basic Authentication using your Client ID and Client Secret as the username and password.


        Client credentials are provided by Wise when your partnership begins. See [Getting Started](/guides/developer) for details.

        '
x-tagGroups:
- name: Authentication
  tags:
  - oauth-token
- name: Enhanced Security
  tags:
  - jose
- name: Users
  tags:
  - user
  - claim-account
- name: Profiles
  tags:
  - profile
  - activity
  - address
- name: Verification
  tags:
  - kyc-review
  - verification
  - facetec
- name: Strong Customer Authentication
  tags:
  - sca-ott
  - sca-sessions
  - sca-pin
  - sca-facemaps
  - sca-device-fingerprints
  - sca-otp
  - user-security
- name: Balances
  tags:
  - balance
  - balance-statement
  - bank-account-details
  - multi-currency-account
- name: Cards
  tags:
  - card
  - card-sensitive-details
  - 3ds
  - card-kiosk-collection
  - card-order
  - card-transaction
  - spend-limits
  - spend-controls
  - digital-wallet
  - disputes
- name: Quotes
  tags:
  - quote
  - rate
  - comparison
- name: Recipients
  tags:
  - recipient
  - contact
- name: Transfers
  tags:
  - transfer
  - delivery-estimate
  - currencies
  - batch-group
- name: Funding
  tags:
  - payin-deposit-detail
  - direct-debit-account
  - bulk-settlement
  - payins
- name: Webhooks
  tags:
  - webhook
  - webhook-event
- name: Simulations
  tags:
  - simulation
- name: Partner Support
  tags:
  - case
