openapi: 3.2.0
info:
  title: Wise Platform Payin Deposit Detail API
  version: ''
  description: "The Wise Platform API is a REST-based interface that enables programmatic access to Wise's payment infrastructure. All endpoints return JSON-formatted responses and use standard HTTP methods and status codes.\n{% admonition type=\"success\" name=\"New to wise?\" %}\n  We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.\n{% /admonition %}\n\nBefore you begin {% .title-2 .m-t-5 %}\n\nTo use this API reference effectively, you should have:\n\n- Received Valid [API credentials from Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client Secret)\n- Understand OAuth 2.0 authentication\n- Be familiar with RESTful API concepts\n\nCore API resources {% .title-2 .m-t-5 .m-b-0 %}\n\n| Resource | Purpose |\n|----------|---------|\n| **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |\n| **[Recipient](/api-reference/recipient)** | Beneficiary account management |\n| **[Transfer](/api-reference/transfer)** | Payment creation and execution |\n| **[Balance](/api-reference/balance)** | Multi-currency account operations |\n| **[Profile](/api-reference/profile)** | Account ownership details |\n| **[Rate](/api-reference/rate)** | Current and historical exchange rates |\n\n**Not sure which workflow to build?**<br>\nStart with our [Integration Guides](/guides/product/send-money/use-cases/index.md) for step-by-step implementation examples.{% .m-t-3 .m-b-5 %}\n"
servers:
- url: https://api.wise.com
  description: Production Environment
- url: https://api.wise-sandbox.com
  description: Sandbox Environment
tags:
- name: payin-deposit-detail
  x-displayName: Payin Deposit Detail
  description: 'The payin deposit details API allows you to get the bank details for the account that the customer should send funds to when paying for a Wise transfer via a bank transfer.


    These details will be provided in the local format for that currency and usually contain bank account information — like IBAN, SWIFT code etc. It also includes the name and address of the receiving bank and the name and address of the Wise entity that owns the bank account, as sometimes these are required to make a payment.

    '
paths:
  /v1/profiles/{profileId}/transfers/{transferId}/deposit-details/bank-transfer:
    get:
      operationId: payinDepositDetailGet
      summary: Retrieve bank transfer deposit details
      description: 'Retrieve the bank details for the account that the customer should send funds to when paying for a Wise transfer via a bank transfer.


        `profileId` in the request URL refers to the profile that created the transfer. It can be either the personal profile ID, or the business profile ID.


        The `payinBankAccount` field allows the bank details to be displayed dynamically in a user interface, by displaying the label and value fields.


        Currently, this API supports the following currencies: AUD, BGN, BRL, CAD, CHF, CZK, DKK, EUR, GBP, HKD, HRK, HUF, IDR, INR, JPY, MYR, NOK, NZD, PLN, RON, SEK, SGD, TRY, USD.

        '
      tags:
      - payin-deposit-detail
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Profile ID.
        schema:
          type: integer
          format: int64
      - name: transferId
        in: path
        required: true
        description: Transfer ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Payin deposit detail object.
          content:
            application/json:
              schema:
                type: object
                properties:
                  payinBank:
                    type: object
                    description: Information about the receiving bank.
                    properties:
                      bankName:
                        type: string
                        description: Bank name.
                        example: Wise Europe SA/NV
                      bankAddress:
                        type:
                        - object
                        - 'null'
                        description: Bank address.
                        properties:
                          country:
                            type: string
                            description: Country ISO 2 code.
                            example: BE
                          firstLine:
                            type: string
                            description: Street address.
                            example: Rue Du Trône 100, box 3
                          postCode:
                            type: string
                            description: Post code / zip code.
                            example: '1050'
                          city:
                            type: string
                            description: City.
                            example: Brussels
                          state:
                            type:
                            - string
                            - 'null'
                            description: State.
                            example: null
                          phone:
                            type:
                            - string
                            - 'null'
                            description: Phone number.
                            example: +32 472 123 456
                  payinBankAccount:
                    type: object
                    description: Bank account details to use to send the payment to.
                    properties:
                      currency:
                        type: string
                        description: ISO 4217 source currency code.
                        example: EUR
                      bankAccountType:
                        type: string
                        description: The type of bank account to use for the payin, e.g. RECIPIENT, ESCROW, BALANCE, etc.
                        example: RECIPIENT
                      details:
                        type: array
                        description: Account details.
                        items:
                          type: object
                          description: Account detail entry.
                          properties:
                            type:
                              type: string
                              description: Account details type, e.g. accountNumber, iban etc.
                              example: iban
                            label:
                              type: string
                              description: Account details label that should be displayed in your user interface.
                              example: IBAN
                            value:
                              type: string
                              description: Account details value. This field is deprecated. Use `rawValue` and `formattedValue` instead.
                              example: BE11111111111111
                              deprecated: true
                            rawValue:
                              type: string
                              description: Account details value, always unformatted. Can be used for processing.
                              example: BE11111111111111
                            formattedValue:
                              type:
                              - string
                              - 'null'
                              description: Account details value, formatted according to the type of the field. Intended to be human-readable. This can be null.
                              example: BE11 1111 1111 1111
                            description:
                              type: string
                              description: Description of the account detail type.
                              example: International Bank Account Number
                  wiseInformation:
                    type: object
                    description: Information about the receiving Wise entity, the owner of the bank account.
                    properties:
                      localCompanyName:
                        type: string
                        description: Wise local company name.
                        example: Wise Europe SA
                      localAddress:
                        type:
                        - object
                        - 'null'
                        description: Wise local address.
                        properties:
                          country:
                            type: string
                            description: Country ISO 2 code.
                            example: BE
                          firstLine:
                            type: string
                            description: Street address.
                            example: Rue du Trône 100, 3rd floor
                          postCode:
                            type: string
                            description: Post code / zip code.
                            example: '1050'
                          city:
                            type: string
                            description: City.
                            example: Brussels
                          state:
                            type:
                            - string
                            - 'null'
                            description: State.
                            example: null
                          phone:
                            type:
                            - string
                            - 'null'
                            description: Phone number.
                            example: null
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
components:
  responses:
    '429':
      x-global: true
      description: Rate limit exceeded. Retry after the number of seconds specified in the `Retry-After` header.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying the request.
          schema:
            type: integer
          example: 5
        X-Rate-Limited-By:
          description: Identifies the rate limiter that triggered the 429 response.
          schema:
            type: string
          example: wise-public-api
        X-External-Correlation-Id:
          $ref: '#/components/headers/X-External-Correlation-Id'
        x-trace-id:
          $ref: '#/components/headers/x-trace-id'
      content:
        application/json:
          schema:
            type: object
  headers:
    x-trace-id:
      x-global: true
      description: Unique trace identifier assigned by Wise. Useful when contacting support about a specific request.
      schema:
        type: string
      example: fba501b6d453b96789f52338f019341f
    X-External-Correlation-Id:
      x-global: true
      description: Echoed back when `X-External-Correlation-Id` was included in the request. [Learn more](/guides/developer/headers/correlation-id).
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  parameters:
    X-External-Correlation-Id:
      x-global: true
      name: X-External-Correlation-Id
      in: header
      required: false
      description: 'Optional UUID for correlating requests across systems. If provided, Wise echoes it back in the response. Maximum 36 characters. [Learn more](/guides/developer/headers/correlation-id).

        '
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  securitySchemes:
    UserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'User Access Token for making API calls on behalf of a Wise user.


        Can be obtained via two OAuth 2.0 flows:

        - **registration_code grant**: For partners creating users via API

        - **authorization_code grant**: For partners using Wise''s authorization page


        Access tokens are valid for 12 hours and can be refreshed using a refresh token.

        '
    PersonalToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Personal API Token for individual personal or small business users.

        Generated from Wise.com > Settings > Connect and manage apps > API tokens.

        Has limited API access compared to OAuth tokens (PSD2 restrictions apply for EU/UK users).

        '
    ClientCredentialsToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Application-level token for partner operations that don''t require a specific user context, such as bulk settlement and card spend controls.


        Obtained via `POST /oauth/token` with Basic Authentication (client-id:client-secret) and `grant_type=client_credentials`.


        Valid for 12 hours. No refresh token — fetch a new token when expired.


        See [create an OAuth token](/api-reference/oauth-token/oauthtokencreate) for details.

        '
    BasicAuth:
      type: http
      scheme: basic
      description: 'Basic Authentication using your Client ID and Client Secret as the username and password.


        Client credentials are provided by Wise when your partnership begins. See [Getting Started](/guides/developer) for details.

        '
x-tagGroups:
- name: Authentication
  tags:
  - oauth-token
- name: Enhanced Security
  tags:
  - jose
- name: Users
  tags:
  - user
  - claim-account
- name: Profiles
  tags:
  - profile
  - activity
  - address
- name: Verification
  tags:
  - kyc-review
  - verification
  - facetec
- name: Strong Customer Authentication
  tags:
  - sca-ott
  - sca-sessions
  - sca-pin
  - sca-facemaps
  - sca-device-fingerprints
  - sca-otp
  - user-security
- name: Balances
  tags:
  - balance
  - balance-statement
  - bank-account-details
  - multi-currency-account
- name: Cards
  tags:
  - card
  - card-sensitive-details
  - 3ds
  - card-kiosk-collection
  - card-order
  - card-transaction
  - spend-limits
  - spend-controls
  - digital-wallet
  - disputes
- name: Quotes
  tags:
  - quote
  - rate
  - comparison
- name: Recipients
  tags:
  - recipient
  - contact
- name: Transfers
  tags:
  - transfer
  - delivery-estimate
  - currencies
  - batch-group
- name: Funding
  tags:
  - payin-deposit-detail
  - direct-debit-account
  - bulk-settlement
  - payins
- name: Webhooks
  tags:
  - webhook
  - webhook-event
- name: Simulations
  tags:
  - simulation
- name: Partner Support
  tags:
  - case
