openapi: 3.1.0
info:
  title: Wise Platform 3ds profile API
  version: "1.0"
  description: "The Wise Platform API is a REST-based interface that enables programmatic access to Wise's payment infrastructure. All endpoints return JSON-formatted responses and use standard HTTP methods and status codes.\n{% admonition type=\"success\" name=\"New to wise?\" %}\n  We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.\n{% /admonition %}\n\nBefore you begin {% .title-2 .m-t-5 %}\n\nTo use this API reference effectively, you should have:\n\n- Received Valid [API credentials from Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client Secret)\n- Understand OAuth 2.0 authentication\n- Be familiar with RESTful API concepts\n\nCore API resources {% .title-2 .m-t-5 .m-b-0 %}\n\n| Resource | Purpose |\n|----------|---------|\n| **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |\n| **[Recipient](/api-reference/recipient)** | Beneficiary account management |\n| **[Transfer](/api-reference/transfer)** | Payment creation and execution |\n| **[Balance](/api-reference/balance)** | Multi-currency account operations |\n| **[Profile](/api-reference/profile)** | Account ownership details |\n| **[Rate](/api-reference/rate)** | Current and historical exchange rates |\n\n**Not sure which workflow to build?**<br>\nStart with our [Integration Guides](/guides/product/send-money/use-cases/index.md) for step-by-step implementation examples.{% .m-t-3 .m-b-5 %}\n"
servers:
- url: https://api.wise.com
  description: Production Environment
- url: https://api.wise-sandbox.com
  description: Sandbox Environment
tags:
- name: profile
  x-displayName: Profiles
  description: 'A profile represents an identity that can send and receive money through Wise — either a personal profile (an individual) or a business profile (a company). Most API endpoints require a `profileId` parameter, which is the ID of either profile type.


    '
paths:
  /v1/profiles:
    post:
      operationId: profileCreateV1
      summary: Create a profile (V1)
      description: '{% admonition type="warning" %}

        This endpoint is deprecated. Please see the [Create Personal Profile](/api-reference/profile/profilepersonalcreate) and [Create Business Profile](/api-reference/profile/profilebusinesscreate) v2 endpoints.

        {% /admonition %}


        Create personal or business user profile. Set `type` to `"personal"` or `"business"`.


        One person cannot have multiple active duplicate user profiles, creating multiple profiles with the same details will fail. When this happens, you should show an error message to the user informing them that they may have an existing Wise account. The customer should then be allowed to [link to an existing Wise account](/guides/product/kyc/partner-kyc/accessing-accounts#link-account).


        {% admonition type="info" %}

        For personal profiles, you must submit the profile''s address using [POST /v1/addresses](/api-reference/address/addresscreate). Failure to do so will result in an incomplete registration and delayed transactions.

        {% /admonition %}


        For business profiles, you must always create a personal profile first. Business profiles cannot be created without a personal profile.


        See [Business Category](/guides/developer/api-guides/business-categories) for the list of valid category and sub-category values for business profiles.

        '
      deprecated: true
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Personal
                type: object
                required:
                - type
                properties:
                  type:
                    type: string
                    enum:
                    - personal
                    example: personal
                  details:
                    type: object
                    description: Personal profile details.
                    properties:
                      firstName:
                        type: string
                        maxLength: 30
                        description: First name (including middle names).
                        example: Oliver
                      lastName:
                        type: string
                        maxLength: 30
                        description: Last name.
                        example: Wilson
                      preferredName:
                        type: string
                        maxLength: 30
                        description: Preferred first name, if different to the legal first name.
                        example: Olivia
                      dateOfBirth:
                        type: string
                        description: Date of birth.
                        example: '1977-07-01'
                      phoneNumber:
                        type: string
                        description: Phone number in international phone number format.
                        example: '+3725064992'
                      firstNameInKana:
                        type:
                        - string
                        - 'null'
                        description: First name in Katakana (required for from-JPY personal transfers).
                        example: null
                      lastNameInKana:
                        type:
                        - string
                        - 'null'
                        description: Last name in Katakana (required for from-JPY personal transfers).
                        example: null
              - title: Business
                type: object
                required:
                - type
                properties:
                  type:
                    type: string
                    enum:
                    - business
                    example: business
                  details:
                    type: object
                    description: Business profile details.
                    properties:
                      name:
                        type: string
                        description: Business name.
                        example: ABC Logistics Ltd
                      registrationNumber:
                        type: string
                        description: Business registration number.
                        example: '12144939'
                      acn:
                        type:
                        - string
                        - 'null'
                        description: Australian Company Number (only for Australian businesses).
                        example: null
                      abn:
                        type:
                        - string
                        - 'null'
                        description: Australian Business Number (only for Australian businesses).
                        example: null
                      arbn:
                        type:
                        - string
                        - 'null'
                        description: Australian Registered Body Number (only for Australian businesses).
                        example: null
                      companyType:
                        type: string
                        description: Company legal form.
                        enum:
                        - LIMITED
                        - PARTNERSHIP
                        - SOLE_TRADER
                        - LIMITED_BY_GUARANTEE
                        - LIMITED_LIABILITY_COMPANY
                        - FOR_PROFIT_CORPORATION
                        - NON_PROFIT_CORPORATION
                        - LIMITED_PARTNERSHIP
                        - LIMITED_LIABILITY_PARTNERSHIP
                        - GENERAL_PARTNERSHIP
                        - SOLE_PROPRIETORSHIP
                        - PRIVATE_LIMITED_COMPANY
                        - PUBLIC_LIMITED_COMPANY
                        - TRUST
                        - OTHER
                      companyRole:
                        type: string
                        description: Role of person.
                        enum:
                        - OWNER
                        - DIRECTOR
                        - OTHER
                      descriptionOfBusiness:
                        type: string
                        deprecated: true
                        description: Sector / field of activity.
                      webpage:
                        type: string
                        description: Business webpage. Required if companyType is OTHER.
                        example: https://abc-logistics.com
                      businessCategory:
                        type: string
                        description: '[Business category](/guides/developer/api-guides/business-categories).'
                        example: CONSULTING_IT_BUSINESS_SERVICES
                      businessSubCategory:
                        type: string
                        description: '[Business sub-category](/guides/developer/api-guides/business-categories).'
                        example: DESIGN
      responses:
        '200':
          description: Created profile.
          content:
            application/json:
              schema:
                oneOf:
                - title: Personal
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                      description: Profile ID.
                      example: 30000001
                    type:
                      type: string
                      enum:
                      - personal
                      example: personal
                    details:
                      type: object
                      description: Personal profile details.
                      properties:
                        firstName:
                          type: string
                          example: Oliver
                        lastName:
                          type: string
                          example: Wilson
                        dateOfBirth:
                          type: string
                          example: '1977-07-01'
                        phoneNumber:
                          type: string
                          example: '+3725064992'
                        avatar:
                          type: string
                          example: ''
                        occupation:
                          type: string
                          deprecated: true
                          example: ''
                        occupations:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                example: Software Engineer
                              format:
                                type: string
                                example: FREE_FORM
                        primaryAddress:
                          type:
                          - integer
                          - 'null'
                          format: int64
                          description: Address object ID.
                          example: null
                        firstNameInKana:
                          type:
                          - string
                          - 'null'
                          example: null
                        lastNameInKana:
                          type:
                          - string
                          - 'null'
                          example: null
                - title: Business
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                      description: Profile ID.
                      example: 30000002
                    type:
                      type: string
                      enum:
                      - business
                      example: business
                    details:
                      type: object
                      description: Business profile details.
                      properties:
                        name:
                          type: string
                          example: ABC Logistics Ltd
                        registrationNumber:
                          type: string
                          example: '12144939'
                        acn:
                          type:
                          - string
                          - 'null'
                          example: null
                        abn:
                          type:
                          - string
                          - 'null'
                          example: null
                        arbn:
                          type:
                          - string
                          - 'null'
                          example: null
                        companyType:
                          type: string
                          example: LIMITED
                        companyRole:
                          type: string
                          example: OWNER
                        descriptionOfBusiness:
                          type: string
                          deprecated: true
                          example: Information and communication
                        webpage:
                          type: string
                          example: https://abc-logistics.com
                        primaryAddress:
                          type: integer
                          format: int64
                          description: Address object ID.
                          example: 4000001
                        businessCategory:
                          type: string
                          description: '[Business category](/guides/developer/api-guides/business-categories).'
                          example: CONSULTING_IT_BUSINESS_SERVICES
                        businessSubCategory:
                          type: string
                          description: '[Business sub-category](/guides/developer/api-guides/business-categories).'
                          example: DESIGN
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
      - $ref: '#/components/parameters/X-External-Correlation-Id'
    put:
      operationId: profileUpdateV1
      summary: Update a profile (V1)
      description: '{% admonition type="warning" %}

        This endpoint is deprecated. Please see the [Update Personal Profile](/api-reference/profile/profilepersonalupdate) and [Update Business Profile](/api-reference/profile/profilebusinessupdate) v2 endpoints.

        {% /admonition %}


        Update user profile information. Request and response is same as described in the create profile endpoint, with the addition of the `id` field.


        {% admonition type="info" %}

        If user profile has been verified then there are restrictions on what information is allowed to change, where permitted, use the update window functionality to submit updated data.

        {% /admonition %}

        '
      deprecated: true
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Personal
                type: object
                required:
                - type
                - id
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Profile ID.
                    example: 30000001
                  type:
                    type: string
                    enum:
                    - personal
                    example: personal
                  details:
                    type: object
                    description: Personal profile details.
                    properties:
                      firstName:
                        type: string
                        maxLength: 30
                        description: First name (including middle names).
                        example: Oliver
                      lastName:
                        type: string
                        maxLength: 30
                        description: Last name.
                        example: Wilson
                      preferredName:
                        type: string
                        maxLength: 30
                        description: Preferred first name, if different to the legal first name.
                        example: Olivia
                      dateOfBirth:
                        type: string
                        description: Date of birth.
                        example: '1977-07-01'
                      phoneNumber:
                        type: string
                        description: Phone number in international phone number format.
                        example: '+3725064992'
                      firstNameInKana:
                        type:
                        - string
                        - 'null'
                        description: First name in Katakana (required for from-JPY personal transfers).
                        example: null
                      lastNameInKana:
                        type:
                        - string
                        - 'null'
                        description: Last name in Katakana (required for from-JPY personal transfers).
                        example: null
              - title: Business
                type: object
                required:
                - type
                - id
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Profile ID.
                    example: 14590075
                  type:
                    type: string
                    enum:
                    - business
                    example: business
                  details:
                    type: object
                    description: Business profile details.
                    properties:
                      name:
                        type: string
                        description: Business name.
                        example: ABC Logistics Ltd
                      registrationNumber:
                        type: string
                        description: Business registration number.
                        example: '12144939'
                      acn:
                        type:
                        - string
                        - 'null'
                        description: Australian Company Number (only for Australian businesses).
                        example: null
                      abn:
                        type:
                        - string
                        - 'null'
                        description: Australian Business Number (only for Australian businesses).
                        example: null
                      arbn:
                        type:
                        - string
                        - 'null'
                        description: Australian Registered Body Number (only for Australian businesses).
                        example: null
                      companyType:
                        type: string
                        description: Company legal form.
                        enum:
                        - LIMITED
                        - PARTNERSHIP
                        - SOLE_TRADER
                        - LIMITED_BY_GUARANTEE
                        - LIMITED_LIABILITY_COMPANY
                        - FOR_PROFIT_CORPORATION
                        - NON_PROFIT_CORPORATION
                        - LIMITED_PARTNERSHIP
                        - LIMITED_LIABILITY_PARTNERSHIP
                        - GENERAL_PARTNERSHIP
                        - SOLE_PROPRIETORSHIP
                        - PRIVATE_LIMITED_COMPANY
                        - PUBLIC_LIMITED_COMPANY
                        - TRUST
                        - OTHER
                      companyRole:
                        type: string
                        description: Role of person.
                        enum:
                        - OWNER
                        - DIRECTOR
                        - OTHER
                      descriptionOfBusiness:
                        type: string
                        deprecated: true
                        description: Sector / field of activity.
                      webpage:
                        type: string
                        description: Business webpage. Required if companyType is OTHER.
                        example: https://abc-logistics.com
                      businessCategory:
                        type: string
                        description: '[Business category](/guides/developer/api-guides/business-categories).'
                        example: CONSULTING_IT_BUSINESS_SERVICES
                      businessSubCategory:
                        type: string
                        description: '[Business sub-category](/guides/developer/api-guides/business-categories).'
                        example: DESIGN
      responses:
        '200':
          description: Updated profile.
          content:
            application/json:
              schema:
                oneOf:
                - title: Personal
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                      description: Profile ID.
                      example: 30000001
                    type:
                      type: string
                      enum:
                      - personal
                      example: personal
                    details:
                      type: object
                      description: Personal profile details.
                      properties:
                        firstName:
                          type: string
                          example: Oliver
                        lastName:
                          type: string
                          example: Wilson
                        dateOfBirth:
                          type: string
                          example: '1977-07-01'
                        phoneNumber:
                          type: string
                          example: '+3725064992'
                        avatar:
                          type: string
                          example: ''
                        occupation:
                          type: string
                          deprecated: true
                          example: ''
                        occupations:
                          type:
                          - array
                          - 'null'
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                                example: Software Engineer
                              format:
                                type: string
                                example: FREE_FORM
                        primaryAddress:
                          type:
                          - integer
                          - 'null'
                          format: int64
                          description: Address object ID.
                          example: null
                        firstNameInKana:
                          type:
                          - string
                          - 'null'
                          example: null
                        lastNameInKana:
                          type:
                          - string
                          - 'null'
                          example: null
                - title: Business
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                      description: Profile ID.
                      example: 30000002
                    type:
                      type: string
                      enum:
                      - business
                      example: business
                    details:
                      type: object
                      description: Business profile details.
                      properties:
                        name:
                          type: string
                          example: ABC Logistics Ltd
                        registrationNumber:
                          type: string
                          example: '12144939'
                        acn:
                          type:
                          - string
                          - 'null'
                          example: null
                        abn:
                          type:
                          - string
                          - 'null'
                          example: null
                        arbn:
                          type:
                          - string
                          - 'null'
                          example: null
                        companyType:
                          type: string
                          example: LIMITED
                        companyRole:
                          type: string
                          example: OWNER
                        descriptionOfBusiness:
                          type: string
                          deprecated: true
                          example: Information and communication
                        webpage:
                          type: string
                          example: https://abc-logistics.com
                        primaryAddress:
                          type: integer
                          format: int64
                          description: Address object ID.
                          example: 4000001
                        businessCategory:
                          type: string
                          description: '[Business category](/guides/developer/api-guides/business-categories).'
                          example: CONSULTING_IT_BUSINESS_SERVICES
                        businessSubCategory:
                          type: string
                          description: '[Business sub-category](/guides/developer/api-guides/business-categories).'
                          example: DESIGN
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
      - $ref: '#/components/parameters/X-External-Correlation-Id'
  /v2/profiles:
    get:
      operationId: profileList
      summary: List profiles for a user account
      description: 'List of all profiles belonging to user.

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      responses:
        '200':
          description: Array of profile objects. Note that there might be more than one business profile returned in the response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/profile'
              example:
              - type: PERSONAL
                id: 14575282
                publicId: a1b2c3d4-e5f6-7890-1234-567890abcdef
                userId: 9889627
                address:
                  id: 36086782
                  addressFirstLine: 24 Willow Creek Lane
                  city: Bristol
                  countryIso2Code: GB
                  countryIso3Code: gbr
                  postCode: BS1 6AE
                  stateCode: null
                email: sarah.jenkins@example.com
                createdAt: '2023-01-15T10:30:00'
                updatedAt: '2025-06-18T14:20:00'
                avatar: https://example.com/avatars/sarah_jenkins.png
                currentState: VISIBLE
                contactDetails:
                  email: sarah.contact@example.com
                  phoneNumber: '+447700900123'
                firstName: Sarah
                lastName: Jenkins
                preferredName: Sal
                dateOfBirth: '1985-05-20'
                phoneNumber: '+447700900456'
                secondaryAddresses: []
                fullName: Sarah Jenkins
              - type: BUSINESS
                id: 14599371
                publicId: f0e9d8c7-b6a5-4321-fedc-ba9876543210
                userId: 9889627
                address:
                  id: 36152772
                  addressFirstLine: 15 Tech Hub Studios
                  city: Manchester
                  countryIso2Code: GB
                  countryIso3Code: gbr
                  postCode: M1 7JA
                  stateCode: null
                email: info@innovate-solutions.co.uk
                createdAt: '2024-03-10T09:00:00'
                updatedAt: '2025-06-18T14:22:00'
                contactDetails:
                  email: contact@innovate-solutions.co.uk
                  phoneNumber: '+441617891234'
                businessName: Innovate Solutions Ltd
                registrationNumber: SC1234567890ABCD
                descriptionOfBusiness: SOFTWARE_DEVELOPMENT
                webpage: https://www.innovate-solutions.co.uk
                companyType: LIMITED_COMPANY
                businessFreeFormDescription: We create cutting-edge software for businesses.
                firstLevelCategory: TECHNOLOGY
                secondLevelCategory: SOFTWARE_SERVICES
                operationalAddresses:
                - id: 36152773
                  addressFirstLine: Unit 5, Innovation Park
                  city: Leeds
                  countryIso2Code: GB
                  countryIso3Code: gbr
                  postCode: LS1 4YZ
                  stateCode: null
                fullName: Innovate Solutions Ltd
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
      parameters:
      - $ref: '#/components/parameters/X-External-Correlation-Id'
  /v2/profiles/personal-profile:
    post:
      operationId: profilePersonalCreate
      summary: Create a personal profile
      description: 'Create a personal profile for the authenticated user. A personal profile represents an individual and is required before creating transfers or business profiles.


        {% admonition type="info" %}

        Use the `X-idempotence-uuid` header to safely retry requests. If omitted and a profile already exists, the API returns `409 Conflict`. You can then retrieve existing profiles via [List profiles](/api-reference/profile/profilelist).

        {% /admonition %}


        Field notes {% .title-4 .m-t-3 %}


        - **First and last names** are limited to 30 characters each. Truncate if necessary (e.g. when a customer has many middle names).

        - **`occupations`** is required for CA, IN, JP, ID, IL, MX, and within the US for the state NM.

        - **`contactDetails`** are used for mandatory customer notifications and to help identify your customer when contacting Wise support.

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      parameters:
      - name: X-idempotence-uuid
        in: header
        required: false
        description: Unique idempotency key for the request.
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - firstName
              - lastName
              - dateOfBirth
              - address
              - contactDetails
              properties:
                firstName:
                  type: string
                  maxLength: 30
                  description: First name (including middle names).
                  example: Oliver
                lastName:
                  type: string
                  maxLength: 30
                  description: Last name.
                  example: Wilson
                preferredName:
                  type: string
                  maxLength: 30
                  description: Preferred first name, if different to the legal first name.
                  example: Olivia
                firstNameInKana:
                  type:
                  - string
                  - 'null'
                  description: First name in Katakana. Required for from-JPY personal transfers.
                  example: null
                lastNameInKana:
                  type:
                  - string
                  - 'null'
                  description: Last name in Katakana. Required for from-JPY personal transfers.
                  example: null
                address:
                  type: object
                  required:
                  - addressFirstLine
                  - city
                  - countryIso3Code
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 50 Sunflower Ave
                    city:
                      type: string
                      description: City.
                      example: Phoenix
                    countryIso3Code:
                      type: string
                      description: 3 letter country code (lower case).
                      example: usa
                    postCode:
                      type: string
                      description: Postal code.
                      example: '10025'
                    stateCode:
                      type: string
                      maxLength: 5
                      description: State code. Required for US, CA, BR and AU addresses.
                      example: AZ
                nationality:
                  type: string
                  description: 3 letter country code (lower case).
                  example: usa
                dateOfBirth:
                  type: string
                  description: Date of birth.
                  example: '1977-07-01'
                externalCustomerId:
                  type: string
                  description: An external reference identifier mapping the customer of this profile to your system.
                  example: 12345-oliver-wilson
                contactDetails:
                  type: object
                  required:
                  - email
                  - phoneNumber
                  properties:
                    email:
                      type: string
                      description: Contact email address. Please speak with your integration account manager for details on how customer communication is handled for your integration.
                      example: o.wilson@example.com
                    phoneNumber:
                      type: string
                      description: Contact phone number in international phone number format, example "+1408XXXXXXX".
                      example: '+3725064992'
                occupations:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Occupation field code - this field accepts any job or occupation that the customer does, as the only occupation format currently accepted is `"FREE_FORM"`.
                        example: Software Engineer
                      format:
                        type: string
                        description: Occupation field format. As of now, it only accepts the value `"FREE_FORM"`.
                        example: FREE_FORM
      responses:
        '200':
          description: Created personal profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                    description: Unique profile ID.
                    example: 30000001
                  type:
                    type: string
                    description: Profile type.
                    enum:
                    - PERSONAL
                    example: PERSONAL
                  details:
                    type: object
                    description: Profile details.
                    properties:
                      firstName:
                        type: string
                        description: First name (including middle names).
                        example: Oliver
                      lastName:
                        type: string
                        description: Last name.
                        example: Wilson
                      preferredName:
                        type: string
                        description: Preferred first name.
                        example: Olivia
                      firstNameInKana:
                        type:
                        - string
                        - 'null'
                        description: First name in Katakana.
                        example: null
                      lastNameInKana:
                        type:
                        - string
                        - 'null'
                        description: Last name in Katakana.
                        example: null
                      address:
                        type: object
                        properties:
                          addressFirstLine:
                            type: string
                            example: 50 Sunflower Ave
                          city:
                            type: string
                            example: Phoenix
                          countryIso3Code:
                            type: string
                            example: usa
                          postCode:
                            type: string
                            example: '10025'
                          stateCode:
                            type: string
                            example: AZ
                      nationality:
                        type: string
                        description: 3 letter country code (lower case).
                        example: usa
                      dateOfBirth:
                        type: string
                        description: Date of birth.
                        example: '1977-07-01'
                      externalCustomerId:
                        type: string
                        description: External reference identifier in your system.
                        example: 12345-oliver-wilson
                      contactDetails:
                        type: object
                        properties:
                          email:
                            type: string
                            example: o.wilson@example.com
                          phoneNumber:
                            type: string
                            example: '+3725064992'
                      occupations:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              example: Software Engineer
                            format:
                              type: string
                              example: FREE_FORM
                      localizedInformation:
                        type: array
                        description: Localized information for the profile.
                        items:
                          type: object
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v2/profiles/business-profile:
    post:
      operationId: profileBusinessCreate
      summary: Create a business profile
      description: 'It is required that you first create a personal profile with details of the authorized representative of the business. It is currently not possible to create a business profile without first creating a personal profile.


        {% admonition type="info" %}

        This request accepts an optional field in the header, `X-idempotence-uuid`. This should be unique for each Profile you create. In the event that the request fails, you should use the same value again when retrying. If the `X-idempotence-uuid` header is not provided and a Profile already exists, then you will receive a response with an HTTP status code `409`. If this happens, you can retrieve the profiles with the ''List profiles for a user account'' API `GET /v2/profiles`.

        {% /admonition %}


        See [Business Category](/guides/developer/api-guides/business-categories) for the list of valid `firstLevelCategory` and `secondLevelCategory` values.

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      parameters:
      - name: X-idempotence-uuid
        in: header
        required: false
        description: Unique idempotency key for the request.
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessName:
                  type: string
                  description: Business name.
                  example: ABC Logistics Ltd
                businessNameInKatakana:
                  type:
                  - string
                  - 'null'
                  description: Business name in Katakana (only for Japanese businesses).
                  example: null
                businessFreeFormDescription:
                  type: string
                  description: 'Business free form description. Required if `companyType` is `OTHER`. If this is not provided for an `OTHER` companyType, the profile should not be allowed to create a transfer.

                    For the rest of the companyTypes, it is highly recommended to always provide the business'' description, to avoid payment issues such as suspensions. Wise will send a request for information (RFI) if this detail is not provided.

                    '
                  example: Biz free form desc
                registrationNumber:
                  type: string
                  description: Business registration number.
                  example: '12144939'
                acn:
                  type:
                  - string
                  - 'null'
                  description: Australian Company Number (only for Australian businesses).
                  example: null
                abn:
                  type:
                  - string
                  - 'null'
                  description: Australian Business Number (only for Australian businesses).
                  example: null
                arbn:
                  type:
                  - string
                  - 'null'
                  description: Australian Registered Body Number (only for Australian businesses).
                  example: null
                companyType:
                  type: string
                  description: Company legal form.
                  enum:
                  - LIMITED
                  - PARTNERSHIP
                  - SOLE_TRADER
                  - LIMITED_BY_GUARANTEE
                  - LIMITED_LIABILITY_COMPANY
                  - FOR_PROFIT_CORPORATION
                  - NON_PROFIT_CORPORATION
                  - LIMITED_PARTNERSHIP
                  - LIMITED_LIABILITY_PARTNERSHIP
                  - GENERAL_PARTNERSHIP
                  - SOLE_PROPRIETORSHIP
                  - PRIVATE_LIMITED_COMPANY
                  - PUBLIC_LIMITED_COMPANY
                  - TRUST
                  - OTHER
                  example: LIMITED
                companyRole:
                  type: string
                  description: Role of person.
                  enum:
                  - OWNER
                  - DIRECTOR
                  - OTHER
                  example: OWNER
                address:
                  type: object
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 1 A road
                    city:
                      type: string
                      description: City.
                      example: London
                    countryIso2Code:
                      type: string
                      description: 2 letter country code.
                      example: gb
                    countryIso3Code:
                      type: string
                      description: 3 letter country code. Must be lowercase.
                      example: gbr
                    postCode:
                      type: string
                      description: Postal code.
                      example: '11111'
                    stateCode:
                      type: string
                      description: State code.
                externalCustomerId:
                  type: string
                  description: An external reference identifier mapping the customer of this profile to your system.
                  example: 67890-biz-acct
                actorEmail:
                  type: string
                  description: Email of the actor.
                  example: biz-acct@abcl.com
                firstLevelCategory:
                  type: string
                  description: '[Category](/guides/developer/api-guides/business-categories) of the business.'
                  example: CONSULTING_IT_BUSINESS_SERVICES
                secondLevelCategory:
                  type: string
                  description: '[Secondary category](/guides/developer/api-guides/business-categories) of the business.'
                  example: DESIGN
                operationalAddresses:
                  type: array
                  description: List of operational addresses.
                  items:
                    type: object
                    properties:
                      addressFirstLine:
                        type: string
                        example: 1 A road
                      city:
                        type: string
                        example: London
                      countryIso2Code:
                        type: string
                        example: gb
                      countryIso3Code:
                        type: string
                        example: gbr
                      postCode:
                        type: string
                        example: '11111'
                      stateCode:
                        type: string
                webpage:
                  type: string
                  description: 'Business webpage. Required if `companyType` is `OTHER`. If this is not provided for an `OTHER` companyType, the profile should not be allowed to create a transfer.

                    For the rest of the companyTypes, it is highly recommended to always provide the business'' website, to avoid payment issues such as suspensions. Wise will send a request for information (RFI) if this detail is not provided.

                    '
                  example: https://abc-logistics.com
      responses:
        '200':
          description: Created business profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/business-profile'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v3/profiles/business-profile:
    post:
      operationId: profileBusinessCreateV3
      summary: Create a business profile (V3)
      description: 'Create a business profile and its authorized representative in a single request.


        {% admonition type="info" %}

        This request accepts an optional field in the header, `X-idempotence-uuid`. This should be unique for each Profile you create. In the event that the request fails, you should use the same value again when retrying. If the `X-idempotence-uuid` header is not provided and a Profile already exists, then you will receive a response with an HTTP status code `409`.

        {% /admonition %}


        See [Business Category](/guides/developer/api-guides/business-categories) for the list of valid `firstLevelCategory` and `secondLevelCategory` values.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: X-idempotence-uuid
        in: header
        required: false
        description: Unique idempotency key for the request.
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                businessName:
                  type: string
                  description: Business name.
                  example: ABC Logistics Ltd
                businessNameInKatakana:
                  type:
                  - string
                  - 'null'
                  description: Business name in Katakana (only for Japanese businesses).
                  example: null
                businessFreeFormDescription:
                  type: string
                  description: 'Business free form description. Required if `companyType` is `OTHER`. If this is not provided for an `OTHER` companyType, the profile should not be allowed to create a transfer.

                    For the rest of the companyTypes, it is highly recommended to always provide the business'' description, to avoid payment issues such as suspensions. Wise will send a request for information (RFI) if this detail is not provided.

                    '
                  example: Biz free form desc
                registrationNumber:
                  type: string
                  description: Business registration number.
                  example: '12144939'
                acn:
                  type:
                  - string
                  - 'null'
                  description: Australian Company Number (only for Australian businesses).
                  example: null
                abn:
                  type:
                  - string
                  - 'null'
                  description: Australian Business Number (only for Australian businesses).
                  example: null
                arbn:
                  type:
                  - string
                  - 'null'
                  description: Australian Registered Body Number (only for Australian businesses).
                  example: null
                companyType:
                  type: string
                  description: Company legal form.
                  enum:
                  - LIMITED
                  - PARTNERSHIP
                  - SOLE_TRADER
                  - LIMITED_BY_GUARANTEE
                  - LIMITED_LIABILITY_COMPANY
                  - FOR_PROFIT_CORPORATION
                  - NON_PROFIT_CORPORATION
                  - LIMITED_PARTNERSHIP
                  - LIMITED_LIABILITY_PARTNERSHIP
                  - GENERAL_PARTNERSHIP
                  - SOLE_PROPRIETORSHIP
                  - PRIVATE_LIMITED_COMPANY
                  - PUBLIC_LIMITED_COMPANY
                  - TRUST
                  - OTHER
                  example: LIMITED
                companyRole:
                  type: string
                  description: Role of person.
                  enum:
                  - OWNER
                  - DIRECTOR
                  - OTHER
                  example: OWNER
                address:
                  type: object
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 1 A road
                    city:
                      type: string
                      description: City.
                      example: London
                    countryIso2Code:
                      type: string
                      description: 2 letter country code.
                      example: gb
                    countryIso3Code:
                      type: string
                      description: 3 letter country code. Must be lowercase.
                      example: gbr
                    postCode:
                      type: string
                      description: Postal code.
                      example: '11111'
                    stateCode:
                      type: string
                      description: State code.
                externalCustomerId:
                  type: string
                  description: An external reference identifier mapping the customer of this profile to your system.
                  example: 67890-biz-acct
                actorEmail:
                  type: string
                  description: Email of the actor.
                  example: biz-acct@abcl.com
                firstLevelCategory:
                  type: string
                  description: '[Category](/guides/developer/api-guides/business-categories) of the business.'
                  example: CONSULTING_IT_BUSINESS_SERVICES
                secondLevelCategory:
                  type: string
                  description: '[Secondary category](/guides/developer/api-guides/business-categories) of the business.'
                  example: DESIGN
                operationalAddresses:
                  type: array
                  description: List of operational addresses.
                  items:
                    type: object
                    properties:
                      addressFirstLine:
                        type: string
                        example: 1 A road
                      city:
                        type: string
                        example: London
                      countryIso2Code:
                        type: string
                        example: gb
                      countryIso3Code:
                        type: string
                        example: gbr
                      postCode:
                        type: string
                        example: '11111'
                      stateCode:
                        type: string
                webpage:
                  type: string
                  description: 'Business webpage. Required if `companyType` is `OTHER`. If this is not provided for an `OTHER` companyType, the profile should not be allowed to create a transfer.

                    For the rest of the companyTypes, it is highly recommended to always provide the business'' website, to avoid payment issues such as suspensions. Wise will send a request for information (RFI) if this detail is not provided.

                    '
                  example: https://abc-logistics.com
                businessRepresentative:
                  type: object
                  description: Business representative details. Provide either the full representative details or just the `businessRepresentativeId` to link an existing representative.
                  properties:
                    businessRepresentativeId:
                      type: integer
                      description: ID of a Business Representative. This can be obtained from a previous call to create a business profile, in which case the same Business Representative is linked to the current business effectively sharing it across multiple businesses. When the Business Representative ID is provided, it is the only field required and none of the other fields should be provided.
                    firstName:
                      type: string
                      description: First name of the person representing the business (including middle names). Required unless Business Representative ID is provided.
                      example: Oliver
                    lastName:
                      type: string
                      description: Last name of the person representing the business. Required unless Business Representative ID is provided.
                      example: Wilson
                    preferredName:
                      type: string
                      description: Preferred first name, if different to the legal first name.
                      example: Olivia
                    address:
                      type: object
                      properties:
                        addressFirstLine:
                          type: string
                          description: First line of address. Required unless Business Representative ID is provided.
                          example: 50 Sunflower Ave
                        city:
                          type: string
                          description: City. Required unless Business Representative ID is provided.
                          example: Phoenix
                        countryIso3Code:
                          type: string
                          description: 3 letter country code (lower case). Required unless Business Representative ID is provided.
                          example: usa
                        postCode:
                          type: string
                          description: Postal code.
                          example: '10025'
                        stateCode:
                          type: string
                          description: State code (max 5 chars). Required for US, CA, BR and AU addresses unless Business Representative ID is provided.
                          example: AZ
                    contactDetails:
                      type: object
                      properties:
                        email:
                          type: string
                          description: Contact email address. Required unless Business Representative ID is provided.
                          example: o.wilson@example.com
                        phoneNumber:
                          type: string
                          description: Contact phone number in international phone number format. Required unless Business Representative ID is provided.
                          example: '+3725064992'
                    dateOfBirth:
                      type: string
                      description: Date of birth. Required unless Business Representative ID is provided.
                      example: '1977-07-01'
            examples:
              withRepresentativeDetails:
                summary: With Business Representative details
                value:
                  businessName: ABC Logistics Ltd
                  businessNameInKatakana: null
                  businessFreeFormDescription: Biz free form desc
                  registrationNumber: '12144939'
                  acn: null
                  abn: null
                  arbn: null
                  companyType: LIMITED
                  companyRole: OWNER
                  address:
                    addressFirstLine: 1 A road
                    city: London
                    countryIso2Code: gb
                    countryIso3Code: gbr
                    postCode: '11111'
                  externalCustomerId: 67890-biz-acct
                  actorEmail: biz-acct@abcl.com
                  firstLevelCategory: CONSULTING_IT_BUSINESS_SERVICES
                  secondLevelCategory: DESIGN
                  operationalAddresses:
                  - addressFirstLine: 1 A road
                    city: London
                    countryIso2Code: gb
                    countryIso3Code: gbr
                    postCode: '11111'
                  webpage: https://abc-logistics.com
                  businessRepresentative:
                    firstName: Oliver
                    lastName: Wilson
                    preferredName: Olivia
                    address:
                      addressFirstLine: 50 Sunflower Ave
                      city: Phoenix
                      countryIso3Code: usa
                      postCode: '10025'
                      stateCode: AZ
                    dateOfBirth: '1977-07-01'
                    contactDetails:
                      email: o.wilson@example.com
                      phoneNumber: '+3725064992'
              withRepresentativeId:
                summary: With Business Representative ID
                value:
                  businessName: ABC Logistics Ltd
                  businessNameInKatakana: null
                  businessFreeFormDescription: Biz free form desc
                  registrationNumber: '12144939'
                  acn: null
                  abn: null
                  arbn: null
                  companyType: LIMITED
                  companyRole: OWNER
                  address:
                    addressFirstLine: 1 A road
                    city: London
                    countryIso2Code: gb
                    countryIso3Code: gbr
                    postCode: '11111'
                  externalCustomerId: 67890-biz-acct
                  actorEmail: biz-acct@abcl.com
                  firstLevelCategory: CONSULTING_IT_BUSINESS_SERVICES
                  secondLevelCategory: DESIGN
                  operationalAddresses:
                  - addressFirstLine: 1 A road
                    city: London
                    countryIso2Code: gb
                    countryIso3Code: gbr
                    postCode: '11111'
                  webpage: https://abc-logistics.com
                  businessRepresentative:
                    businessRepresentativeId: 123
      responses:
        '200':
          description: Created business profile.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v2/profiles/{profileId}:
    get:
      operationId: profileGet
      summary: Retrieve a profile by ID
      description: 'Get profile info by ID.

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Profile object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profile'
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v2/profiles/{profileId}/personal-profile:
    put:
      operationId: profilePersonalUpdate
      summary: Update a personal profile
      description: 'Update user profile information for a personal profile.


        {% admonition type="warning" %}

        If user profile has been verified then there are restrictions on what information is allowed to change. Where permitted, use the update window functionality by [opening the update window](/api-reference/profile/profileupdatewindowopen), submitting the updated information using this endpoint, and finally [closing the update window](/api-reference/profile/profileupdatewindowclose).

        {% /admonition %}

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Personal profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  maxLength: 30
                  description: First name (including middle names).
                  example: Oliver
                lastName:
                  type: string
                  maxLength: 30
                  description: Last name.
                  example: Wilson
                preferredName:
                  type: string
                  maxLength: 30
                  description: Preferred first name, if different to the legal first name.
                  example: Olivia
                firstNameInKana:
                  type:
                  - string
                  - 'null'
                  description: First name in Katakana. Required for from-JPY personal transfers.
                  example: null
                lastNameInKana:
                  type:
                  - string
                  - 'null'
                  description: Last name in Katakana. Required for from-JPY personal transfers.
                  example: null
                address:
                  type: object
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 50 Sunflower Ave
                    city:
                      type: string
                      description: City.
                      example: Phoenix
                    countryIso3Code:
                      type: string
                      description: 3 letter country code (ISO3, lower case).
                      example: usa
                    postCode:
                      type: string
                      description: Postal code or ZIP code.
                      example: '10025'
                    stateCode:
                      type: string
                      maxLength: 5
                      description: State code. Required for US, CA, BR and AU addresses.
                      example: AZ
                nationality:
                  type: string
                  description: 3 letter country code (ISO3, lower case).
                  example: usa
                dateOfBirth:
                  type: string
                  description: Date of birth.
                  example: '1977-07-01'
                contactDetails:
                  type: object
                  properties:
                    email:
                      type: string
                      description: Contact email address. Please speak with your integration account manager for details on how customer communication is handled for your integration.
                      example: o.wilson@example.com
                    phoneNumber:
                      type: string
                      description: Contact phone number in international phone number format, example "+1408XXXXXXX".
                      example: '+3725064992'
                externalCustomerId:
                  type: string
                  description: An external reference identifier mapping the customer of this profile to your system.
                  example: 12345-oliver-wilson
                occupations:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Occupation field code - this field accepts any job or occupation that the customer does, as the only occupation format currently accepted is `"FREE_FORM"`.
                        example: Software Engineer
                      format:
                        type: string
                        description: Occupation field format. As of now, it only accepts the value `"FREE_FORM"`.
                        example: FREE_FORM
      responses:
        '200':
          description: Updated personal profile.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v2/profiles/{profileId}/business-profile:
    put:
      operationId: profileBusinessUpdate
      summary: Update a business profile
      description: 'Update user profile information for a business profile.


        {% admonition type="warning" %}

        If user profile has been verified then there are restrictions on what information is allowed to change.

        {% /admonition %}


        Where permitted, use the update window functionality by [opening the update window](/api-reference/profile/profileupdatewindowopen), submitting the updated information using this endpoint, and finally [closing the update window](/api-reference/profile/profileupdatewindowclose).


        See [Business Category](/guides/developer/api-guides/business-categories) for the list of valid `firstLevelCategory` and `secondLevelCategory` values.

        '
      tags:
      - profile
      security:
      - UserToken: []
      - PersonalToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Business profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                  description: Business profile ID. This must match the business profile ID supplied in the URL.
                  example: 14599371
                businessName:
                  type: string
                  description: Business name.
                  example: ABC Logistics Ltd
                businessNameInKatakana:
                  type:
                  - string
                  - 'null'
                  description: Business name in Katakana (only for Japanese businesses).
                  example: null
                businessFreeFormDescription:
                  type: string
                  description: Business free form description.
                  example: Biz free form desc
                registrationNumber:
                  type: string
                  description: Business registration number.
                  example: '12144939'
                acn:
                  type:
                  - string
                  - 'null'
                  description: Australian Company Number (only for Australian businesses).
                  example: null
                abn:
                  type:
                  - string
                  - 'null'
                  description: Australian Business Number (only for Australian businesses).
                  example: null
                arbn:
                  type:
                  - string
                  - 'null'
                  description: Australian Registered Body Number (only for Australian businesses).
                  example: null
                companyType:
                  type: string
                  description: Company legal form.
                  enum:
                  - LIMITED
                  - PARTNERSHIP
                  - SOLE_TRADER
                  - LIMITED_BY_GUARANTEE
                  - LIMITED_LIABILITY_COMPANY
                  - FOR_PROFIT_CORPORATION
                  - NON_PROFIT_CORPORATION
                  - LIMITED_PARTNERSHIP
                  - LIMITED_LIABILITY_PARTNERSHIP
                  - GENERAL_PARTNERSHIP
                  - SOLE_PROPRIETORSHIP
                  - PRIVATE_LIMITED_COMPANY
                  - PUBLIC_LIMITED_COMPANY
                  - TRUST
                  - OTHER
                  example: LIMITED
                address:
                  type: object
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 1 A road
                    city:
                      type: string
                      description: City.
                      example: London
                    countryIso2Code:
                      type: string
                      description: 2 letter country code.
                      example: gb
                    countryIso3Code:
                      type: string
                      description: 3 letter country code. Must be lowercase.
                      example: gbr
                    postCode:
                      type: string
                      description: Postal code.
                      example: '11111'
                    stateCode:
                      type: string
                      maxLength: 5
                      description: State code.
                companyRole:
                  type: string
                  description: Role of person.
                  enum:
                  - OWNER
                  - DIRECTOR
                  - OTHER
                  example: OWNER
                externalCustomerId:
                  type: string
                  description: An external reference identifier mapping the customer of this profile to your system.
                  example: 67890-biz-acct
                firstLevelCategory:
                  type: string
                  description: '[Category](/guides/developer/api-guides/business-categories) of the business.'
                  example: CONSULTING_IT_BUSINESS_SERVICES
                secondLevelCategory:
                  type: string
                  description: '[Secondary category](/guides/developer/api-guides/business-categories) of the business.'
                  example: DESIGN
                operationalAddresses:
                  type: array
                  description: List of operational addresses.
                  items:
                    type: object
                    properties:
                      addressFirstLine:
                        type: string
                        example: 1 A road
                      city:
                        type: string
                        example: London
                      countryIso2Code:
                        type: string
                        example: gb
                      countryIso3Code:
                        type: string
                        example: gbr
                      postCode:
                        type: string
                        example: '11111'
                      stateCode:
                        type: string
                        maxLength: 5
                webpage:
                  type: string
                  description: 'Business webpage. Required if `companyType` is `OTHER`. If this is not provided for an `OTHER` companyType, the profile should not be allowed to create a transfer.

                    For the rest of the companyTypes, it is highly recommended to always provide the business'' website, to avoid payment issues such as suspensions. Wise will send a request for information (RFI) if this detail is not provided.

                    '
                  example: https://abc-logistics.com
      responses:
        '200':
          description: Updated business profile.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v3/profiles/{profileId}/business-profile/business-representative:
    get:
      operationId: profileBusinessRepresentativeGet
      summary: Retrieve business representative
      description: 'Get Business Representative info by Business Profile ID.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Business profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Business representative object.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
    put:
      operationId: profileBusinessRepresentativeUpdate
      summary: Update business representative
      description: 'Update or transfer the Business Representative for the specified Business Profile.


        Set `updateContext` to `UPDATE_DETAILS` to update the existing Business Representative''s details, or `TRANSFER_OF_AUTHORISATION` to transfer authority of the Business Profile to a new Business Representative.


        {% admonition type="info" %}

        If the Business Representative has been verified then there are restrictions on what information is allowed to change.

        {% /admonition %}


        {% admonition type="info" %}

        If this Business Representative is shared across multiple Business Profiles, then changes will be reflected for all of the Business Profiles.

        {% /admonition %}


        When using `TRANSFER_OF_AUTHORISATION`, this will overwrite the existing Business Representative. The new Business Representative will need to be verified for KYC purposes.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Business profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                updateContext:
                  type: string
                  description: Context of the update.
                  enum:
                  - UPDATE_DETAILS
                  - TRANSFER_OF_AUTHORISATION
                  example: UPDATE_DETAILS
                firstName:
                  type: string
                  description: First name of the person representing the business (including middle names).
                  example: Oliver
                lastName:
                  type: string
                  description: Last name of the person representing the business.
                  example: Wilson
                preferredName:
                  type: string
                  description: Preferred first name, if different to the legal first name.
                  example: Olivia
                address:
                  type: object
                  properties:
                    addressFirstLine:
                      type: string
                      description: First line of address.
                      example: 50 Sunflower Ave
                    city:
                      type: string
                      description: City.
                      example: Phoenix
                    countryIso3Code:
                      type: string
                      description: 3 letter country code (lower case).
                      example: usa
                    postCode:
                      type: string
                      description: Postal code.
                      example: '10025'
                    stateCode:
                      type: string
                      description: State code (max 5 chars). Required for US, CA, BR and AU addresses.
                      example: AZ
                contactDetails:
                  type: object
                  properties:
                    email:
                      type: string
                      description: Contact email address of the person representing the business. Please speak with your integration account manager for details on how customer communication is handled for your integration.
                      example: o.wilson@example.com
                    phoneNumber:
                      type: string
                      description: Contact phone number in international phone number format, example "+1408XXXXXXX" of the person representing the business. Please speak with your integration account manager for details on how customer communication is handled for your integration.
                      example: '+3725064992'
                dateOfBirth:
                  type: string
                  description: Date of birth.
                  example: '1977-07-01'
                actorEmail:
                  type: string
                  description: Email of the actor.
                  example: biz-acct@abcl.com
            examples:
              updateDetails:
                summary: Update Details
                value:
                  updateContext: UPDATE_DETAILS
                  contactDetails:
                    email: o.wilson@example.com
                    phoneNumber: '+3725064992'
              transferOfAuthorisation:
                summary: Transfer of Authorisation
                value:
                  updateContext: TRANSFER_OF_AUTHORISATION
                  firstName: Oliver
                  lastName: Wilson
                  preferredName: Olivia
                  address:
                    addressFirstLine: 50 Sunflower Ave
                    city: Phoenix
                    countryIso3Code: usa
                    postCode: '10025'
                    stateCode: AZ
                  dateOfBirth: '1977-07-01'
                  contactDetails:
                    email: o.wilson@example.com
                    phoneNumber: '+3725064992'
      responses:
        '200':
          description: Business representative updated successfully.
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/profiles/{profileId}/verification-documents:
    post:
      operationId: profileVerificationDocumentCreate
      summary: Create an identification document
      description: 'Add an identification document to a personal profile. Not applicable to business profiles.


        For SSN submissions, only `type` and `uniqueIdentifier` (9 digits, no letters or symbols) are required.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: Person first name in document.
                  example: Oliver
                lastName:
                  type: string
                  description: Person last name in document.
                  example: Wilson
                type:
                  type: string
                  description: Document type.
                  enum:
                  - DRIVERS_LICENCE
                  - IDENTITY_CARD
                  - GREEN_CARD
                  - MY_NUMBER
                  - PASSPORT
                  - SSN
                  - EMIRATES_EMPLOYER
                  - EMIRATES_PLACE_OF_BIRTH
                  - CPF_CNPJ
                  - FINANCIAL_CAPACITY_BR
                  - OTHER
                  example: IDENTITY_CARD
                uniqueIdentifier:
                  type: string
                  maxLength: 30
                  description: Document number or value. Must be digits only when SSN or FINANCIAL_CAPACITY_BR.
                  example: AA299822313
                issueDate:
                  type: string
                  description: Document issue date.
                  example: '2017-12-31'
                issuerCountry:
                  type: string
                  description: Issued by country code. For example "US".
                  example: EE
                issuerState:
                  type: string
                  description: Issued by state code. For example "NY".
                  example: ''
                expiryDate:
                  type: string
                  description: Document expiry date.
                  example: '2027-12-31'
                nationality:
                  type: string
                  description: 2 characters ISO country code.
                employerName:
                  type: string
                  description: The name of the employer. Type must be EMIRATES_EMPLOYER.
                employerCity:
                  type: string
                  description: The city of the employer. Type must be EMIRATES_EMPLOYER.
                employerCountry:
                  type: string
                  description: 2 characters ISO country code. Type must be EMIRATES_EMPLOYER.
                birthCity:
                  type: string
                  description: The city of birth of the customer.
                birthCountry:
                  type: string
                  description: 2 characters ISO country code.
            examples:
              identityCard:
                summary: Identity Card
                value:
                  firstName: Oliver
                  lastName: Wilson
                  type: IDENTITY_CARD
                  uniqueIdentifier: AA299822313
                  issueDate: '2017-12-31'
                  issuerCountry: EE
                  issuerState: ''
                  expiryDate: '2027-12-31'
              cpfCnpj:
                summary: CPF or CNPJ
                value:
                  type: CPF_CNPJ
                  uniqueIdentifier: 938.936.652-69
              financialCapacityBr:
                summary: Financial Capacity Brazil
                value:
                  type: FINANCIAL_CAPACITY_BR
                  uniqueIdentifier: '150000.00'
      responses:
        '200':
          description: Identification document created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type:
                    - string
                    - 'null'
                    example: null
                  success:
                    type: boolean
                    example: true
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
    put:
      operationId: profileVerificationDocumentUpdate
      summary: Update an identification document
      description: "Update an existing identification document on a personal profile. Not\napplicable to business profiles.\n\nThis endpoint performs a full replacement of the document details. Any\nfields not provided in the request body will be set to null on the stored\ndocument. Partners must provide all fields they wish to retain. \n\nOnly partners with a KYC partner onboarding model\nare permitted to use this endpoint. Non-KYC partners will receive a 400 error.\n"
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - clientId
              properties:
                clientId:
                  type: string
                  description: The partner's client ID.
                  example: mercury
                firstName:
                  type: string
                  description: Person first name in document.
                  example: Oliver
                lastName:
                  type: string
                  description: Person last name in document.
                  example: Wilson
                type:
                  type: string
                  description: Document type.
                  enum:
                  - DRIVERS_LICENCE
                  - IDENTITY_CARD
                  - GREEN_CARD
                  - MY_NUMBER
                  - PASSPORT
                  - SSN
                  - EMIRATES_EMPLOYER
                  - EMIRATES_PLACE_OF_BIRTH
                  - CPF_CNPJ
                  - FINANCIAL_CAPACITY_BR
                  - OTHER
                  example: IDENTITY_CARD
                uniqueIdentifier:
                  type: string
                  maxLength: 30
                  description: Document number or value. Must be digits only when SSN or FINANCIAL_CAPACITY_BR.
                  example: AA299822313
                issueDate:
                  type: string
                  description: Document issue date.
                  example: '2017-12-31'
                issuerCountry:
                  type: string
                  description: Issued by country code. For example "US".
                  example: EE
                issuerState:
                  type: string
                  description: Issued by state code. For example "NY".
                  example: ''
                expiryDate:
                  type: string
                  description: Document expiry date.
                  example: '2027-12-31'
                nationality:
                  type: string
                  description: 2 characters ISO country code.
                sex:
                  type: string
                  description: Sex as stated in the document.
                  enum:
                  - MALE
                  - FEMALE
                  example: MALE
                placeOfBirth:
                  type: string
                  description: Place of birth as stated in the document.
                  example: London
            examples:
              identityCard:
                summary: Update Identity Card
                value:
                  clientId: mercury
                  firstName: Oliver
                  lastName: Wilson
                  type: IDENTITY_CARD
                  uniqueIdentifier: AA299822313
                  issueDate: '2017-12-31'
                  issuerCountry: EE
                  issuerState: ''
                  expiryDate: '2027-12-31'
                  nationality: GB
                  sex: MALE
              driversLicence:
                summary: Update Drivers Licence
                value:
                  clientId: mercury
                  firstName: Oliver
                  lastName: Wilson
                  type: DRIVERS_LICENCE
                  uniqueIdentifier: DL12345
                  issueDate: '2020-01-15'
                  issuerCountry: US
                  issuerState: NY
                  expiryDate: '2028-01-15'
      responses:
        '200':
          description: Identification document updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMessage:
                    type:
                    - string
                    - 'null'
                    example: null
                  success:
                    type: boolean
                    example: true
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '400':
          description: "Validation error. Possible error codes:\n- `not.allowed.for.clientId` — Partner is not found or is not a KYC\n  partner.\n- `not.allowed.for.uniqueIdentifier` — Document number exceeds maximum\n  length (30 characters).\n- `NotNull` — A required field (`type` or `clientId`) is missing.\n"
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: not.allowed.for.clientId
                        message:
                          type: string
                        field:
                          type: string
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v1/profiles/{profileId}/directors:
    post:
      operationId: profileDirectorCreate
      summary: Create business directors
      description: 'Adds new directors to the business profile.


        Returns the list of all directors associated with the business profile.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Business profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  firstName:
                    type: string
                    description: Director first name.
                    example: John
                  lastName:
                    type: string
                    description: Director last name.
                    example: Doe
                  dateOfBirth:
                    type: string
                    description: Date of birth.
                    example: '1982-05-20'
                  countryOfResidenceIso3Code:
                    type: string
                    description: 3 character country code.
                    example: usa
            example:
            - firstName: John
              lastName: Doe
              dateOfBirth: '1982-05-20'
              countryOfResidenceIso3Code: usa
            - firstName: Jane
              lastName: Doe
              dateOfBirth: '1981-12-07'
              countryOfResidenceIso3Code: usa
      responses:
        '200':
          description: List of all directors associated with the business profile.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/director'
              example:
              - id: 10
                firstName: John
                lastName: Doe
                dateOfBirth: '1982-05-20'
                countryOfResidenceIso3Code: usa
              - id: 11
                firstName: Jane
                lastName: Doe
                dateOfBirth: '1981-12-07'
                countryOfResidenceIso3Code: usa
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
    get:
      operationId: profileDirectorList
      summary: List business directors
      description: 'Returns the list of director objects associated with the business profile.

        '
      tags:
      - profile
      security:
      - UserToken: []
      parameters:
      - name: profileId
        in: path
        required: true
        description: Business profile ID.
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: List of director objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/director'
              example:
              - id: 10
                firstName: John
                lastName: Doe
                dateOfBirth: '1982-05-20'
                countryOfResidenceIso3Code: usa
              - id: 11
                firstName: Jane
                lastName: Doe
                dateOfBirth: '1981-12-07'
                countryOfResidenceIso3Code: usa
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
    put:
      operationId: profileDirectorUpdate
[...]
