openapi: 3.2.0
info:
  title: Wise Platform Comparison API
  version: ''
  description: "The Wise Platform API is a REST-based interface that enables programmatic access to Wise's payment infrastructure. All endpoints return JSON-formatted responses and use standard HTTP methods and status codes.\n{% admonition type=\"success\" name=\"New to wise?\" %}\n  We strongly recommend first reading our **[Getting Started Guide](/guides/developer/index.md)** to help you set up credentials and make your first call.\n{% /admonition %}\n\nBefore you begin {% .title-2 .m-t-5 %}\n\nTo use this API reference effectively, you should have:\n\n- Received Valid [API credentials from Wise](/guides/developer/auth-and-security/index.md) (Client ID and Client Secret)\n- Understand OAuth 2.0 authentication\n- Be familiar with RESTful API concepts\n\nCore API resources {% .title-2 .m-t-5 .m-b-0 %}\n\n| Resource | Purpose |\n|----------|---------|\n| **[Quote](/api-reference/quote)** | Exchange rate and fee calculations |\n| **[Recipient](/api-reference/recipient)** | Beneficiary account management |\n| **[Transfer](/api-reference/transfer)** | Payment creation and execution |\n| **[Balance](/api-reference/balance)** | Multi-currency account operations |\n| **[Profile](/api-reference/profile)** | Account ownership details |\n| **[Rate](/api-reference/rate)** | Current and historical exchange rates |\n\n**Not sure which workflow to build?**<br>\nStart with our [Integration Guides](/guides/product/send-money/use-cases/index.md) for step-by-step implementation examples.{% .m-t-3 .m-b-5 %}\n"
servers:
- url: https://api.wise.com
  description: Production Environment
- url: https://api.wise-sandbox.com
  description: Sandbox Environment
tags:
- name: comparison
  x-displayName: Comparison
  description: 'The comparison API can be used to request price and speed information about various money transfer providers. This includes not only Wise but other providers in the market.


    Price Estimation {% #comparison-price-estimation .title-3 .m-t-5 %}


    The quotes (price and speed) provided by this API are based off of real quotes collected from 3rd party websites. We collect both the advertised exchange rate and fee for each provider for various amounts. When a comparison is requested, we calculate the markup percentage of the collected exchange rate on the mid-market rate at the time of collection. We then apply this markup to the current mid-market rate to provide a realistic estimate of what each provider offers. We collect data for all providers around once per hour to ensure we provide as accurate and up-to-date information as possible.


    Note: Today, we only provide estimations for FX transactions with a Bank Transfer pay-in and pay-out option. This is important to stress as many providers offer significantly different fees and exchange rates when used debit/credit card, cash etc.


    For more details on the data collection process please see the following page:

    [https://wise.com/gb/compare/disclaimer](https://wise.com/gb/compare/disclaimer)


    If you have questions or suspect any data to be inaccurate or incomplete please contact us at: [comparison@wise.com](mailto:comparison@wise.com)


    Delivery Estimation {% #comparison-delivery-estimation .title-3 .m-t-5 %}


    Similar to price, we collect speed data for most (if not all) providers which we have price information for. Many providers display speed estimates to their customers in a number of different ways.


    Some examples:


    - "The transfer should be complete within 2-5 days"

    - "The money should arrive in your account within 48 hours"

    - "Should arrive by 26th Aug"

    - "Could take up to 4 working days"


    The below API intends to model these in a consistent format by providing a minimum and maximum range for all delivery estimations. An estimate that states "up to X" will have "max" set to a duration but "min" as null; "from X" will have "min" set to a duration and "max" as null. Finally, for those providers who offer a specific, point in time estimation (like Wise), the API will surface a duration where "min" and "max" are equal.


    Quotes structure {% #comparison-quotes-structure .title-3 .m-t-5 %}


    In order to provide the most flexible and accurate data for clients, we surface a denormalized list of quotes per provider where each quote represents a unique collection of comparison "dimensions".


    A single given provider may expose multiple quotes for the same currency route. The most common example is where a provider offers different pricing for two different countries which use the same currency, e.g.:


    Provider X:


    - GBP EUR 1000 [GB -> ES] fee: 10, rate: 1.5

    - GBP EUR 1000 [GB -> DE] fee: 8, rate: 1.5

    - GBP EUR 1000 [GB -> FR] fee: 10, rate: 1.35


    The same principle applies for speed, i.e. a provider may have different speed estimates for different target countries. Hence, we expose these as discrete quotes, where a quote is a unique combination of route, country, speed and price factors.


    A client may choose to reduce this set of quotes down to a single or several quotes in order to display a relevant quote to a given user. An example where we take the cheapest quote for a given currency route (and also surface the target country) can be seen at the below link:


    [https://wise.com/gb/compare/?sourceCurrency=GBP&targetCurrency=EUR&sendAmount=1000](https://wise.com/gb/compare/?sourceCurrency=GBP&targetCurrency=EUR&sendAmount=1000)

    '
paths:
  /v3/comparisons:
    get:
      operationId: comparisonGetV3
      summary: Request a comparison quote (V3)
      deprecated: true
      description: '{% admonition type="warning" name="Deprecated" %}

        This endpoint is deprecated. Use the [V4 comparison endpoint](/api-reference/comparison/comparisonget) instead.

        {% /admonition %}


        Request price and speed comparison data for money transfer providers on a given currency route.

        '
      tags:
      - comparison
      parameters:
      - name: sourceCurrency
        in: query
        required: true
        description: ISO 4217 source currency code
        schema:
          type: string
        example: GBP
      - name: targetCurrency
        in: query
        required: true
        description: ISO 4217 target currency code
        schema:
          type: string
        example: EUR
      - name: sendAmount
        in: query
        required: true
        description: Amount to send in source currency
        schema:
          type: number
        example: 10000
      - name: midMarketRate
        in: query
        required: false
        description: Current mid-market rate between the source and target currency
        schema:
          type: number
      - name: wiseFee
        in: query
        required: false
        description: Wise's fee, if the Wise quote is known
        schema:
          type: number
      - name: wiseEstimatedDelivery
        in: query
        required: false
        description: Wise's estimated delivery timestamp, if the Wise quote is known
        schema:
          type: string
      - name: wiseQuoteCreatedTime
        in: query
        required: false
        description: Timestamp when the Wise quote was created
        schema:
          type: string
      - name: payInMethod
        in: query
        required: false
        description: Change the pay-in method of the Wise quote only (all other quotes will remain as bank transfer)
        schema:
          type: string
      - name: sourceCountry
        in: query
        required: false
        description: Filter by source country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: targetCountry
        in: query
        required: false
        description: Filter by target country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: providerCountry
        in: query
        required: false
        description: Filter by provider country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: providerTypes
        in: query
        required: false
        description: Filter by provider type
        schema:
          type: array
          items:
            type: string
            enum:
            - bank
            - moneytransferprovider
            - travelMoney
      - name: providers
        in: query
        required: false
        description: Filter by specific provider aliases
        schema:
          type: string
      - name: excludePartners
        in: query
        required: false
        description: Exclude Wise's partner banks - default true
        schema:
          type: boolean
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Comparison data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComparisonV3'
              example:
                sourceCurrency: GBP
                targetCurrency: EUR
                sourceCountry: null
                targetCountry: null
                providerCountry: null
                providerTypes:
                - bank
                - moneyTransferProvider
                amount: 10000
                providerType: null
                providers:
                - id: 39
                  alias: wise
                  name: Wise
                  logos:
                    normal:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo.png
                    inverse:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.png
                    white:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.png
                    circle:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/wise-mark.svg
                      pngUrl: null
                    altText: Wise
                  type: moneyTransferProvider
                  partner: false
                  quotes:
                  - rate: 1.15989
                    fee: 37.12
                    dateCollected: '2019-10-22T14:36:43Z'
                    sourceCountry: null
                    targetCountry: null
                    markup: 0
                    receivedAmount: 11555.84
                    deliveryEstimation:
                      duration:
                        min: PT20H8M16.305111S
                        max: PT20H8M16.305111S
                      providerGivesEstimate: true
                      durationType: CALENDAR
                      deliveryDate:
                        min: '2025-02-05T15:08:00.000000492Z'
                        max: '2025-02-05T15:08:00.000000492Z'
                  logo: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
                - id: 1
                  alias: barclays
                  name: Barclays
                  logos:
                    normal:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays.svg
                      pngUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays.png
                    inverse:
                      svgUrl: null
                      pngUrl: null
                    white:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays--white.svg
                      pngUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays--white.png
                    circle:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays-mark.svg
                      pngUrl: null
                    altText: Barclays
                  type: bank
                  partner: false
                  quotes:
                  - rate: 1.12792426
                    fee: 0
                    dateCollected: '2019-10-22T14:00:04Z'
                    sourceCountry: GB
                    targetCountry: ES
                    markup: 2.75592858
                    receivedAmount: 11279.24
                    deliveryEstimation:
                      duration:
                        min: PT24H
                        max: PT24H
                      providerGivesEstimate: true
                      durationType: CALENDAR
                      deliveryDate:
                        min: '2025-02-06T13:12:13.428650596Z'
                        max: '2025-02-06T13:12:13.428650596Z'
                  logo: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays.svg
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
  /v4/comparisons:
    get:
      operationId: comparisonGet
      summary: Request a comparison quote
      description: 'Request price and speed comparison data for money transfer providers on a given currency route.


        You must provide either `sendAmount` or `recipientGetsAmount` (but not both).

        '
      tags:
      - comparison
      parameters:
      - name: sourceCurrency
        in: query
        required: true
        description: ISO 4217 source currency code
        schema:
          type: string
        example: GBP
      - name: targetCurrency
        in: query
        required: true
        description: ISO 4217 target currency code
        schema:
          type: string
        example: EUR
      - name: sendAmount
        in: query
        required: false
        description: Amount to send in source currency. Must provide either `sendAmount` or `recipientGetsAmount`.
        schema:
          type: number
        example: 10000
      - name: recipientGetsAmount
        in: query
        required: false
        description: Amount to be received in target currency. Must provide either `sendAmount` or `recipientGetsAmount`.
        schema:
          type: number
      - name: midMarketRate
        in: query
        required: false
        description: Current mid-market rate between the source and target currency
        schema:
          type: number
      - name: wiseFee
        in: query
        required: false
        description: Wise's fee, if the Wise quote is known
        schema:
          type: number
      - name: wiseEstimatedDelivery
        in: query
        required: false
        description: Wise's estimated delivery timestamp, if the Wise quote is known
        schema:
          type: string
      - name: wiseQuoteCreatedTime
        in: query
        required: false
        description: Timestamp when the Wise quote was created
        schema:
          type: string
      - name: payInMethod
        in: query
        required: false
        description: Change the pay-in method of the Wise quote only (all other quotes will remain as bank transfer)
        schema:
          type: string
      - name: sourceCountry
        in: query
        required: false
        description: Filter by source country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: targetCountry
        in: query
        required: false
        description: Filter by target country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: providerCountry
        in: query
        required: false
        description: Filter by provider country (ISO 3166-1 Alpha-2 code)
        schema:
          type: string
      - name: filter
        in: query
        required: false
        description: Filter by most popular competitors
        schema:
          type: string
          enum:
          - POPULAR
      - name: numberOfProviders
        in: query
        required: false
        description: Number of popular competitors to return if `filter` is set to `POPULAR` - default value is 4
        schema:
          type: integer
          format: int32
      - name: providerTypes
        in: query
        required: false
        description: Filter by provider type
        schema:
          type: array
          items:
            type: string
            enum:
            - bank
            - moneytransferprovider
            - travelMoney
      - name: providers
        in: query
        required: false
        description: Filter by specific provider aliases
        schema:
          type: string
      - name: excludePartners
        in: query
        required: false
        description: Exclude Wise's partner banks - default true
        schema:
          type: boolean
      - name: includeWise
        in: query
        required: false
        description: Overrides filters to ensure Wise data is returned, even if exclusionary filters are applied
        schema:
          type: boolean
      - $ref: '#/components/parameters/X-External-Correlation-Id'
      responses:
        '200':
          description: Comparison data retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comparison'
              example:
                sourceCurrency: GBP
                targetCurrency: EUR
                sourceCountry: null
                targetCountry: null
                providerCountry: null
                providerTypes:
                - bank
                - moneyTransferProvider
                amount: 10000
                amountType: SEND
                providers:
                - id: 39
                  alias: wise
                  name: Wise
                  logos:
                    normal:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo.png
                    inverse:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.png
                    white:
                      svgUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.svg
                      pngUrl: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.png
                    circle:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/wise-mark.svg
                      pngUrl: null
                    altText: Wise
                  type: moneyTransferProvider
                  partner: false
                  quotes:
                  - rate: 1.15989
                    fee: 37.12
                    dateCollected: '2019-10-22T14:36:43Z'
                    sourceCountry: null
                    targetCountry: null
                    markup: 0
                    receivedAmount: 11555.84
                    sendAmount: null
                    deliveryEstimation:
                      duration:
                        min: PT20H8M16.305111S
                        max: PT20H8M16.305111S
                      providerGivesEstimate: true
                    isConsideredMidMarketRate: true
                - id: 1
                  alias: barclays
                  name: Barclays
                  logos:
                    normal:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays.svg
                      pngUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays.png
                    inverse:
                      svgUrl: null
                      pngUrl: null
                    white:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays--white.svg
                      pngUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays--white.png
                    circle:
                      svgUrl: https://dq8dwmysp7hk1.cloudfront.net/logos/barclays-mark.svg
                      pngUrl: null
                    altText: Barclays
                  type: bank
                  partner: false
                  quotes:
                  - rate: 1.12792426
                    fee: 0
                    dateCollected: '2019-10-22T14:00:04Z'
                    sourceCountry: GB
                    targetCountry: ES
                    markup: 2.75592858
                    receivedAmount: 11279.24
                    sendAmount: null
                    deliveryEstimation:
                      duration:
                        min: PT24H
                        max: PT24H
                      providerGivesEstimate: true
                    isConsideredMidMarketRate: false
          headers:
            X-External-Correlation-Id:
              $ref: '#/components/headers/X-External-Correlation-Id'
            x-trace-id:
              $ref: '#/components/headers/x-trace-id'
        '429':
          $ref: '#/components/responses/429'
components:
  headers:
    X-External-Correlation-Id:
      x-global: true
      description: Echoed back when `X-External-Correlation-Id` was included in the request. [Learn more](/guides/developer/headers/correlation-id).
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
    x-trace-id:
      x-global: true
      description: Unique trace identifier assigned by Wise. Useful when contacting support about a specific request.
      schema:
        type: string
      example: fba501b6d453b96789f52338f019341f
  schemas:
    ComparisonV3:
      title: Comparison (V3)
      type: object
      additionalProperties: true
      description: V3 comparison response containing price and speed estimates from various money transfer providers.
      properties:
        sourceCurrency:
          type:
          - string
          - 'null'
          description: ISO 4217 source currency code
          example: GBP
        targetCurrency:
          type:
          - string
          - 'null'
          description: ISO 4217 target currency code
          example: EUR
        sourceCountry:
          type:
          - string
          - 'null'
          description: Source country (ISO 3166-1 Alpha-2 code)
          example: null
        targetCountry:
          type:
          - string
          - 'null'
          description: Target country (ISO 3166-1 Alpha-2 code)
          example: null
        providerCountry:
          type:
          - string
          - 'null'
          description: Provider country (ISO 3166-1 Alpha-2 code)
          example: null
        providerTypes:
          type: array
          description: List of provider types included in the response
          items:
            type: string
          example:
          - bank
          - moneyTransferProvider
        amount:
          type: number
          description: The comparison amount
          example: 10000
        providerType:
          type:
          - string
          - 'null'
          description: Provider type filter applied to the request
          example: null
        providers:
          type: array
          description: List of providers with their estimated quotes
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: integer
                format: int64
                description: Provider ID
                example: 39
              alias:
                type: string
                description: Provider alias (lowercase slug name)
                example: wise
              name:
                type: string
                description: Provider name (presentational / formal name)
                example: Wise
              logos:
                type: object
                description: URLs pointing to provider logos (svg, png)
                properties:
                  normal:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo.png
                  inverse:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.png
                  white:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.png
                  circle:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://dq8dwmysp7hk1.cloudfront.net/logos/wise-mark.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: null
                  altText:
                    type: string
                    description: Alt text for the provider logo
                    example: Wise
              logo:
                type:
                - string
                - 'null'
                description: (Deprecated) Provider logo svg
                deprecated: true
                example: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
              type:
                type: string
                description: 'Provider type: bank, money transfer provider, or travel money'
                example: moneyTransferProvider
              partner:
                type: boolean
                description: Whether a partner of Wise or not
                example: false
              quotes:
                type: array
                description: An array of estimated quotes per provider
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    rate:
                      type: number
                      description: The live estimated exchange rate for the provider for this quote
                      example: 1.15989
                    fee:
                      type: number
                      description: The estimated fee for the provider for this quote
                      example: 37.12
                    dateCollected:
                      type: string
                      description: The date of collection for the original quote
                      example: '2019-10-22T14:36:43Z'
                    sourceCountry:
                      type:
                      - string
                      - 'null'
                      description: Source country (ISO 3166-1 Alpha-2 code)
                      example: null
                    targetCountry:
                      type:
                      - string
                      - 'null'
                      description: Target country (ISO 3166-1 Alpha-2 code)
                      example: null
                    markup:
                      type: number
                      description: Percentage markup on the quoted rate compared to the mid-market rate
                      example: 0
                    receivedAmount:
                      type:
                      - number
                      - 'null'
                      description: The total estimated received amount for the provider for this quote
                      example: 11555.84
                    deliveryEstimation:
                      type: object
                      description: Delivery estimation details - i.e. a speed estimate
                      properties:
                        duration:
                          type: object
                          description: Duration range
                          properties:
                            min:
                              type:
                              - string
                              - 'null'
                              description: Minimum quoted time for transaction delivery (ISO 8601 duration format)
                              example: PT20H8M16.305111S
                            max:
                              type:
                              - string
                              - 'null'
                              description: Maximum quoted time for transaction delivery (ISO 8601 duration format)
                              example: PT20H8M16.305111S
                        providerGivesEstimate:
                          type: boolean
                          description: Whether a provider publicly surfaces a speed estimate or not
                          example: true
                        durationType:
                          type: string
                          description: Whether the duration is in calendar days, business days, or same day
                          enum:
                          - CALENDAR
                          - BUSINESS
                          - SAME DAY
                          example: CALENDAR
                        deliveryDate:
                          type: object
                          description: Estimated transaction delivery date range
                          properties:
                            min:
                              type:
                              - string
                              - 'null'
                              description: Minimum estimated delivery date
                              example: '2025-02-05T15:08:00.000000492Z'
                            max:
                              type:
                              - string
                              - 'null'
                              description: Maximum estimated delivery date
                              example: '2025-02-05T15:08:00.000000492Z'
    Comparison:
      title: Comparison
      type: object
      additionalProperties: true
      description: V4 comparison response containing price and speed estimates from various money transfer providers.
      properties:
        sourceCurrency:
          type:
          - string
          - 'null'
          description: ISO 4217 source currency code
          example: GBP
        targetCurrency:
          type:
          - string
          - 'null'
          description: ISO 4217 target currency code
          example: EUR
        sourceCountry:
          type:
          - string
          - 'null'
          description: Source country (ISO 3166-1 Alpha-2 code)
          example: null
        targetCountry:
          type:
          - string
          - 'null'
          description: Target country (ISO 3166-1 Alpha-2 code)
          example: null
        providerCountry:
          type:
          - string
          - 'null'
          description: Provider country (ISO 3166-1 Alpha-2 code)
          example: null
        providerTypes:
          type: array
          description: List of provider types included in the response
          items:
            type: string
          example:
          - bank
          - moneyTransferProvider
        amount:
          type: number
          description: The comparison amount
          example: 10000
        amountType:
          type: string
          description: Whether the amount represents a send amount or recipient gets amount
          example: SEND
        providers:
          type: array
          description: List of providers with their estimated quotes
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: integer
                format: int64
                description: Provider ID
                example: 39
              alias:
                type: string
                description: Provider alias (lowercase slug name)
                example: wise
              name:
                type: string
                description: Provider name (presentational / formal name)
                example: Wise
              logos:
                type: object
                description: URLs pointing to provider logos (svg, png)
                properties:
                  normal:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo.png
                  inverse:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_inverse.png
                  white:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: https://wise.com/public-resources/assets/logos/wise-personal/logo_white.png
                  circle:
                    type: object
                    properties:
                      svgUrl:
                        type:
                        - string
                        - 'null'
                        example: https://dq8dwmysp7hk1.cloudfront.net/logos/wise-mark.svg
                      pngUrl:
                        type:
                        - string
                        - 'null'
                        example: null
                  altText:
                    type: string
                    description: Alt text for the provider logo
                    example: Wise
              type:
                type: string
                description: 'Provider type: bank, money transfer provider, or travel money'
                example: moneyTransferProvider
              partner:
                type: boolean
                description: Whether a partner of Wise or not
                example: false
              quotes:
                type: array
                description: An array of estimated quotes per provider
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    rate:
                      type: number
                      description: The live estimated exchange rate for the provider for this quote
                      example: 1.15989
                    fee:
                      type: number
                      description: The estimated fee for the provider for this quote
                      example: 37.12
                    dateCollected:
                      type: string
                      description: The date of collection for the original quote
                      example: '2019-10-22T14:36:43Z'
                    sourceCountry:
                      type:
                      - string
                      - 'null'
                      description: Source country (ISO 3166-1 Alpha-2 code)
                      example: null
                    targetCountry:
                      type:
                      - string
                      - 'null'
                      description: Target country (ISO 3166-1 Alpha-2 code)
                      example: null
                    markup:
                      type: number
                      description: Percentage markup on the quoted rate compared to the mid-market rate
                      example: 0
                    receivedAmount:
                      type:
                      - number
                      - 'null'
                      description: The total estimated received amount for the provider for this quote (non-null only if a send amount request was made)
                      example: 11555.84
                    sendAmount:
                      type:
                      - number
                      - 'null'
                      description: The total estimated send amount for the provider for this quote (non-null only if a recipient gets amount request was made)
                      example: null
                    isConsideredMidMarketRate:
                      type: boolean
                      description: Whether the provider's rate is close enough to the true mid-market rate to be classified as a mid-market rate
                      example: true
                    deliveryEstimation:
                      type: object
                      description: Delivery estimation details - i.e. a speed estimate
                      properties:
                        duration:
                          type: object
                          description: Duration range
                          properties:
                            min:
                              type:
                              - string
                              - 'null'
                              description: Minimum quoted time for transaction delivery (ISO 8601 duration format)
                              example: PT20H8M16.305111S
                            max:
                              type:
                              - string
                              - 'null'
                              description: Maximum quoted time for transaction delivery (ISO 8601 duration format)
                              example: PT20H8M16.305111S
                        providerGivesEstimate:
                          type: boolean
                          description: Whether a provider publicly surfaces a speed estimate or not
                          example: true
  responses:
    '429':
      x-global: true
      description: Rate limit exceeded. Retry after the number of seconds specified in the `Retry-After` header.
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying the request.
          schema:
            type: integer
          example: 5
        X-Rate-Limited-By:
          description: Identifies the rate limiter that triggered the 429 response.
          schema:
            type: string
          example: wise-public-api
        X-External-Correlation-Id:
          $ref: '#/components/headers/X-External-Correlation-Id'
        x-trace-id:
          $ref: '#/components/headers/x-trace-id'
      content:
        application/json:
          schema:
            type: object
  parameters:
    X-External-Correlation-Id:
      x-global: true
      name: X-External-Correlation-Id
      in: header
      required: false
      description: 'Optional UUID for correlating requests across systems. If provided, Wise echoes it back in the response. Maximum 36 characters. [Learn more](/guides/developer/headers/correlation-id).

        '
      schema:
        type: string
        format: uuid
        maxLength: 36
      example: f47ac10b-58cc-4372-a567-0e02b2c3d479
  securitySchemes:
    UserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'User Access Token for making API calls on behalf of a Wise user.


        Can be obtained via two OAuth 2.0 flows:

        - **registration_code grant**: For partners creating users via API

        - **authorization_code grant**: For partners using Wise''s authorization page


        Access tokens are valid for 12 hours and can be refreshed using a refresh token.

        '
    PersonalToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Personal API Token for individual personal or small business users.

        Generated from Wise.com > Settings > Connect and manage apps > API tokens.

        Has limited API access compared to OAuth tokens (PSD2 restrictions apply for EU/UK users).

        '
    ClientCredentialsToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Application-level token for partner operations that don''t require a specific user context, such as bulk settlement and card spend controls.


        Obtained via `POST /oauth/token` with Basic Authentication (client-id:client-secret) and `grant_type=client_credentials`.


        Valid for 12 hours. No refresh token — fetch a new token when expired.


        See [create an OAuth token](/api-reference/oauth-token/oauthtokencreate) for details.

        '
    BasicAuth:
      type: http
      scheme: basic
      description: 'Basic Authentication using your Client ID and Client Secret as the username and password.


        Client credentials are provided by Wise when your partnership begins. See [Getting Started](/guides/developer) for details.

        '
x-tagGroups:
- name: Authentication
  tags:
  - oauth-token
- name: Enhanced Security
  tags:
  - jose
- name: Users
  tags:
  - user
  - claim-account
- name: Profiles
  tags:
  - profile
  - activity
  - address
- name: Verification
  tags:
  - kyc-review
  - verification
  - facetec
- name: Strong Customer Authentication
  tags:
  - sca-ott
  - sca-sessions
  - sca-pin
  - sca-facemaps
  - sca-device-fingerprints
  - sca-otp
  - user-security
- name: Balances
  tags:
  - balance
  - balance-statement
  - bank-account-details
  - multi-currency-account
- name: Cards
  tags:
  - card
  - card-sensitive-details
  - 3ds
  - card-kiosk-collection
  - card-order
  - card-transaction
  - spend-limits
  - spend-controls
  - digital-wallet
  - disputes
- name: Quotes
  tags:
  - quote
  - rate
  - comparison
- name: Recipients
  tags:
  - recipient
  - contact
- name: Transfers
  tags:
  - transfer
  - delivery-estimate
  - currencies
  - batch-group
- name: Funding
  tags:
  - payin-deposit-detail
  - direct-debit-account
  - bulk-settlement
  - payins
- name: Webhooks
  tags:
  - webhook
  - webhook-event
- name: Simulations
  tags:
  - simulation
- name: Partner Support
  tags:
  - case
